@CHARSET "UTF-8";

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 70px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: #9d9d9d;
/*   background-color: #f5f5f5; */
}

/* Learn part */
.select2 > .select2-choice.ui-select-match {
      /* Because of the inclusion of Bootstrap */
      height: 29px;
 }
 
/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.ui-view-container {
	position: relative;
	height: 65px;
}

[ui-view].ng-enter, [ui-view].ng-leave {
	position: absolute;
	left: 0;
	right: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

[ui-view].ng-enter {
	opacity: 0;
	-webkit-transform: scale3d(0.5, 0.5, 0.5);
	-moz-transform: scale3d(0.5, 0.5, 0.5);
	transform: scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	-moz-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

[ui-view].ng-leave {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
	opacity: 0;
	-webkit-transform: translate3d(100px, 0, 0);
	-moz-transform: translate3d(100px, 0, 0);
	transform: translate3d(100px, 0, 0);
}

/* For the width of the textarea */
/* However, it seems it doesn't working! 2015.8.24 */
/*
.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*/

/* For Account List Grid */
/* The commented part are not working! */
/*
.accountasset { color: floralwhite;  background-color: yellowgreen; }
.accountnotasset { color: floralwhite; background-color: firebrick;  }
*/
.accountasset { color: yellowgreen; }
.accountnotasset { color: firebrick;  }
.amountcell { text-align: right; }
.trantypeexpense { color: red; font-weight: bold; }
.trantypenonexpense { color: yellowgreen; font-weight: bold; }

/* For smart-table */
.st-sort-ascent:before{
  content: '\25B2';
}

.st-sort-descent:before{
  content: '\25BC';
}
.st-selected { 
  background: #216ebf !important;
  color: white !important;
}