<div id="viewLearnCategoryList">

	<div class="page-header">
		<h2>
			<span translate="Learn.LearningCategory">Learn Category</span> <small translate="Common.ListView"> List View </small>
		</h2>
	</div>

	<table st-table="dispList" st-safe-src="arLearnCategory" class="table table-striped table-hover">
		<thead>
			<tr>
				<th st-sort="id" translate="Common.ID">ID</th>
				<th st-sort="parent" translate="Common.Parent">Parent</th>
				<th st-sort="text" translate="Common.Text">Text</th>
				<th st-sort="fulltext" translate="Common.Text">Text</th>
				<th st-sort="comment" translate="Common.Comment">Comment</th>
			</tr>
			<tr>
				<th colspan="5"><input st-search="serch" class="form-control" placeholder="{{ 'Common.Search' | translate }}" type="text"/></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in dispList">
				<td>{{row.ID}}</td>
				<td>{{row.ParentID}}</td>
				<td>{{row.Text}}</td>
				<td>{{row.FullDisplayText}}</td>
				<td>{{row.Comment}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2" class="text-center">
					<cst-count></cst-count>
				</td>
				<td colspan="3" class="text-center" st-pagination="" st-items-by-page="20">
				</td>
			</tr>
		</tfoot>
	</table>
</div>
