<div id="viewLearnHistory" class="container">
	<div class="page-header">
		<h2>
			<span translate="Learn.LearningPlan">Learn Plan</span><small> {{Activity | translate}}</small>
		</h2>
	</div>

    <!-- Messages -->
    <div ng-if="ReportedMessages.length > 0">
        <div class="alert alert-danger" role="alert" ng-repeat="rptmsg in ReportedMessages">
            {{ rptmsg  }}
        </div>
    </div>
    
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="showPart === 'hdr' ? 'active' : ''"><a role="button" ng-click="showPart = 'hdr'"><span translate="Common.Header">Header</span></a></li>
        <li role="presentation" ng-class="showPart === 'det' ? 'active' : ''"><a role="button" ng-click="showPart = 'det'"><span translate="Common.Detail">Detail</span></a></li>
        <li role="presentation" ng-class="showPart === 'reg' ? 'active' : ''"><a role="button" ng-click="showPart = 'reg'"><span translate="Learn.Participants">Participants</span></a></li>
    </ul>

    <!-- Header -->
    <div class="container" ng-show="showPart === 'hdr'">
		<br>
		<form class="form-horizontal" role="form" name="frmObj">
			<div class="form-group">
				<label class="control-label col-sm-2" translate="Common.Name">Name</label>
				<div class="col-sm-10">
					<input type="text" ng-readonly="isReadonly" ng-model="CurrentLearnPlan.Name">
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-sm-2" translate="Common.Comment">Comment</label>
				<div class="col-sm-10">
					<input type="text" ng-readonly="isReadonly" ng-model="CurrentLearnPlan.Comment">
				</div>
			</div>
		</form>
    </div>

    <!-- Details -->
    <div class="container" ng-show="showPart === 'det'">
		<!-- Tables -->
		<table st-table="detailColl" class="table">
			<thead>
				<tr>
					<th st-sort="objID">Object ID</th>
					<th st-sort="objName">Object Name</th>
					<th st-sort="defDay">Deffered Days</th>
					<th st-sort="recType">Recur. Type</th>
					<th>Operations</th>
				</tr>
				<tr>
					<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
				</tr>
			</thead>
			<tbody>
				<tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in PlanDetailCollection">
					<td>{{row.ObjectID}}</td>
					<td>{{row.LearnObjectObject.Name}}</td>
					<td>{{row.DeferredDay}}</td>
					<td>{{row.RecurTypeDisplay}}</td>
					<td>
                        <button type="button" class="btn btn-sm" ng-click="displayDetail(row)">
                            <i class="glyphicon glyphicon-share">
                            </i>
                        </button>
                        <button type="button" class="btn btn-sm" ng-click="editDetail(row)">
                            <i class="glyphicon glyphicon-edit">
                            </i>
                        </button>
						<button type="button" ng-click="removeDetail(row)" class="btn btn-sm btn-danger">
							<i class="glyphicon glyphicon-remove-circle">
							</i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		
		<!-- Then, default one -->
        <div class="panel panel-default" style="margin: 30px, 10px;">
            <div class="panel-heading">{{DetailActivity | translate}}</div>
            
            <div class="panel-body">
            <form class="form-horizontal" role="form" name="frmItem">
                <div class="form-group">
                    <label class="control-label col-sm-2" translate="Learning.Object">Learning Object:</label>
                    <div class="col-sm-10">
                        <selectize placeholder='Select a learn object...' options='arLearnObject' 
                                config="learnobjectConfig" ng-model="SelectedPlanDetail.ObjectID"
                                ng-disabled="isReadonly" required="required"></selectize>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" >Recur Type:</label>
                    <div class="col-sm-10">
                        <select ng-model="SelectedPlanDetail.RecurType" >
                            <option value="1">One Time</option>
                            <option value="2">H. Ebbinghaus</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptItemAmt">Defer Days:</label>
                    <div class="col-sm-10">
                        <input type="text" id="iptItemAmt" ng-readonly="isReadonly" ng-model="SelectedPlanDetail.DeferredDay" required="required"></input>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptItemDesp" translate="Common.Comment">Comment: </label>
                    <div class="col-sm-10">
                        <input type="text" id="iptItemDesp" ng-readonly="isReadonly" ng-model="SelectedPlanDetail.Comment"></input>
			        </div>
		        </div>

                <!-- Button group -->
                <div class="form-group">
                	<div class="col-sm-10">
                    	<button class="btn btn-default btn-primary" ng-click="saveCurrentDetail()" ng-hide="isReadonly">Save Detail</button>
                        <button class="btn btn-danger" ng-click="cancelCurrentDetail()">Cancel Detail Editing</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
	
	<!-- Registration -->
    <div class="container" ng-show="showPart === 'reg'">
		<label>Registration pages</label>
    </div>
    
    <!-- Buttons -->
    <div class="form-group">
    	<div class="col-sm-12 col-md-12 col-lg-12">
        	<button class="btn btn-default btn-primary" ng-click="submit()" ng-hide="isReadonly"
            		>Submit</button>
            <button class="btn btn-danger" ng-click="close()">Cancel</button>
        </div>
    </div>	
</div>
