
<!-- Content area of Finance Document Type Page begins -->
<h2 style="clear: both;">Finance Document Type</h2>

<div>
	<p>Currencies: All allowed currencies in finance part.</p>
</div>


<!-- Datagrid -->
<table id="dg" class="easyui-datagrid" title="Finance Document Types"
	style="width: 98%; height: 600px;"
	data-options="singleSelect:true,
					url:'finance_doctype.php?TYPE=10', method:'get', 
					fitColumns: true,
					rownumbers: true,
					showFooter: true"
	toolbar="#toolbar">
	<thead>
		<tr>
			<th data-options="field:'id', align:'right'" width="5%">id</th>
			<th data-options="field:'name', align:'center'" width="50%">Name</th>
			<th data-options="field:'comment',align:'center'" width="35%">Comment</th>
		</tr>
	</thead>
</table>

<!-- Content area of Finance Document Types Page begins -->
