
	<!-- Content area of Finance Post Document Page begins -->
	<h2 style="clear: both;">Post a Document</h2>

	<div>
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="postDocument()">Post</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="cancelDocument()">Cancel</a>
	</div>
	
	<!-- Layout -->
	<div class="easyui-accordion" style="width:100%;height:800px;">
		<!-- Header -->
		<div title="Header" data-options="iconCls:'icon-search', collapsed:false,collapsible:false" style="overflow:auto;padding:10px;">
			<form id="frmDocHeader" class="easyui-form" method="post">
				<table style="width: 100%">
					<tr>
						<td>Document Type:</td>
						<td>
							<div style="margin-bottom: 10px">
								<select class="easyui-combogrid" style="width:98%" 
									id="doctypeCombo"
									data-options="panelWidth: 500,
			            					idField: 'id',
			            					textField: 'name',
			            					url: 'finance_doctype.php?TYPE=10',
			            					method: 'get',
			            					required: true,
			            					columns: [[
			                					{field:'id',title:'ID',width:80, align:'right'},
			                					{field:'name',title:'Name',width:120, align:'center'},
								                {field:'comment',title:'Comment',width:80,align:'center'}
								            ]],
								            fitColumns: true"></select>
							</div>
						</td>
					</tr>
					<tr>
						<td>Calendar Date:</td>
						<td>
							<div style="margin-bottom: 10px">
								<div class="easyui-calendar" id="docdateCnlr" style="width:300px;height:150px;"></div>
							</div>
						</td>
					</tr>
					<tr>
						<td>Currency:</td>
						<td>
							<div style="margin-bottom: 20px">
								<select class="easyui-combogrid" style="width:100%" 
									id="currCombo"
									data-options="prompt:'Currency', panelWidth: 500,
			            					idField: 'curr',
			            					textField: 'name',
			            					required:true,
			            					url: 'finance_currency.php?TYPE=10',
			            					method: 'get',
			            					columns: [[
			                					{field:'curr',title:'Currency',width:80, align:'right'},
			                					{field:'name',title:'Name',width:120, align:'center'},
								                {field:'symbol',title:'Symbol',width:80,align:'center'}
								            ]],
								            fitColumns: true"></select>
							</div>
						</td>
					</tr>
					<tr>
						<td>Description:</td>
						<td>
							<div style="margin-bottom: 10px">
								<input class="easyui-textbox" id="docdesp" data-options="multiline:true, required: true" 
										style="width:98%; height:60px">
							</div>
						</td>
					</tr>
				</table>	
			</form>		
		</div>
		
		<!-- Datagrid for Item -->
		<div title="Items" data-options="iconCls:'icon-help', collapsed:false" style="padding:10px;">
			<table id="dg" class="easyui-datagrid" title="Finance Documents"
				style="width: 98%; height: 600px;"
				data-options="singleSelect:true,
						url:'finance_postdocument.php?TYPE=25',method:'get'"
				toolbar="#toolbar">
				<thead>
					<tr>
						<th data-options="field:'ItemID', align:'right'" width="5%">Item ID</th>
						<th data-options="field:'AccountID', align:'right'" width="5%">Account ID</th>
						<th data-options="field:'AccountName', align:'center'" width="20%">Account Name</th>
						<th data-options="field:'TranType', align:'right'" width="5%">Tran ID</th>
						<th data-options="field:'TranTypeName', align:'center'" width="10%">Tran Type</th>
						<th data-options="field:'TranAmount', align:'right'" width="10%">Amount</th>
						<th data-options="field:'ControlCenterID', align:'right'" width="5%">CC ID</th>
						<th data-options="field:'ControlCenterName', align:'center'" width="10%">CC Name</th>
						<th data-options="field:'OrderID', align:'right'" width="5%">Order ID</th>
						<th data-options="field:'OrderName', align:'center'" width="10%">Order Name</th>
						<th data-options="field:'TranDesp', align:'center'" width="10%">Desp</th>
					</tr>
				</thead>
			</table>
		</div>
		
		<!-- Toolbar of Datagrid -->
		<div id="toolbar">
			<a href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-add" plain="true" onclick="newItem()">New 
			</a> <a href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-remove" plain="true" onclick="destoryItem()">Destroy
			</a> 
			<span> |</span>
			<a href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-reload" plain="true" onclick="refreshItem()">Refresh
			</a> 
		</div>
	</div>
	
	<!-- Dialog for creating item -->
	<div id="dlgCreate" class="easyui-dialog" title="Create New Document Item"
		style="width: 600px; height: 400px;"
		data-options="resizable:true,modal:true,closed:true">
		<div style="margin: 10px 0;"></div>
		<form id="formCrtObj" class="easyui-form" method="post">
			<table style="width: 90%">
				<tr>
					<td>Account</td>
					<td>
						<div style="margin-bottom: 10px"></div>
						<select class="easyui-combogrid" style="width:100%" 
								id="accountCombo"
								data-options="prompt:'Account', panelWidth: 500,
		            					idField: 'id',
		            					textField: 'name',
		            					required:true,
		            					url: 'finance_account.php?TYPE=10',
		            					method: 'get',
		            					columns: [[
		                					{field:'id',title:'ID',width:20, align:'right'},
		                					{field:'name',title:'Name',width:120, align:'center'},
							                {field:'comment',title:'Comment',width:120,align:'center'}
							            ]],
							            fitColumns: true"></select>
					</td>
				</tr>
				<tr>
					<td>Tran. Type</td>
					<td>
						<div style="margin-bottom: 10px">
						 	<input class="easyui-combotree" id="trantypeCombo"
						 		data-options="prompt:'Transaction type',
						 		url:'finance_trantype.php?TYPE=16',method:'get',
								required:true, formatter:trantypeformatter" style="width:100%;">
						</div>
					</td>
				</tr>
				<tr>
					<td>Amount:</td>
					<td>
						<div style="margin-bottom: 20px">
						<input class="easyui-numberbox" name="itemamount" id="itemamount"
							style="width: 100%; height: 30px; padding: 12px"
							data-options="prompt:'Amount',required: true, precision:2"></input>
						</div>
					</td>
				</tr>
				<tr>
					<td>Description:</td>
					<td>
						<div style="margin-bottom: 20px">
							<input class="easyui-textbox" data-options="multiline:true" 
									id="itemDesp"
									style="width:100%; height:60px">
						</div>
					</td>
				</tr>
				<tr>
					<td>Control Center:</td>
					<td>
						<div style="margin-bottom: 20px">
						 	<input class="easyui-combotree" id="controlcenterCombo"
						 		data-options="prompt:'Control Center',
						 		url:'finance_controlcenter.php?TYPE=16',method:'get'" style="width:100%;">
						</div>
					</td>
				</tr>
				<tr>
					<td>Order:</td>
					<td>
						<div style="margin-bottom: 20px">
							<select style="width:100%" id="orderCombo"></select>
						</div>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<div align="right">
							<a href="javascript:void(0)" class="easyui-linkbutton"
								data-options="iconCls:'icon-ok'" onclick="submitForm()"
								style="padding: 5px 0px; width: 30%;"> <span
								style="font-size: 14px;">Submit</span>
							</a> <a href="javascript:void(0)" class="easyui-linkbutton"
								data-options="iconCls:'icon-cancel'" onclick="cancelForm()"
								style="padding: 5px 0px; width: 30%;"> <span
								style="font-size: 14px;">Cancel</span>
							</a>
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>
	
	<script>
	var docdate = new Date();
	var ordersData = []; // Array of JSON objects
	
	$('#docdateCnlr').calendar({
	    current:docdate,
	    onSelect: function(date) {
			docdate = date;
		},
		onChange: function(newDate, oldDate) {
			docdate = newDate;
		}
	});
	
	function trantypeformatter(node) {
	    if (node.expense === '1') {
	        return '<span style="color:red; font-weight: bold;">' + node.text + ' (开支) </span>';
	    } else if (node.expense === '0') {
	        return '<span style="color:green; font-weight: bold;">' + node.text + ' (收入)</span>';
	    } else {
	    	return node.text;
	    }		
	}
	function newItem() {
		$('#dlgCreate').dialog('open');
	}
	function destoryItem() {
		var row = $('#dg').datagrid('getSelected');
		if (row) {
			$.messager.confirm('Confirm', 'Are you sure you want to remove this line?',
				function(r) {
					if (r) {
						var index = $('#dg').datagrid('getRowIndex', row);
						$.post('script/financedocument_post.php', {
							action: 'delItem',
							itemid : row.ItemID
						}, function() {
							$('#dg').datagrid('deleteRow', index);
						});
					}
				});
		}		
	}
	function submitForm() {
		// Perform UI layer check first!
		var validchk = $('#formCrtObj').form('validate');
		if (!validchk) {
			return;
		}
		
		var acntID = $('#accountCombo').combogrid('getValue');
		var acntname = $('#accountCombo').combogrid('getText');
		var trantype = $('#trantypeCombo').combotree('getValue');
		var trantypename = $('#trantypeCombo').combotree('getText');
		var ccID = $('#controlcenterCombo').combotree('getValue');
		var ccname = $('#controlcenterCombo').combotree('getText');
		var ordID = $('#orderCombo').combogrid('getValue');
		var ordname = $('#orderCombo').combogrid('getText');
		var amt = $('#itemamount').val();
		var itemdesp = $('#itemDesp').val();
		
		// Get the validity information of the Internal Order
		var ordValidfrom = null, ordValidto = null;
		if (ordID !== null) {
			for(var i = 0; i < ordersData.length; i ++) {
				if (parseInt(ordersData[i].id) === parseInt(ordID)) {
					ordValidfrom = ordersData[i].valid_from;
					ordValidto = ordersData[i].valid_to;
					break;
				}
			}
		}
		
		// Then, submit to server side
		$.ajax({
			type: "POST",
			url: "script/financedocument_post.php",
			data: 
			{
				action: 'addItem',
				acntID: acntID,
				acntname: acntname,
				trantype: trantype,
				trantypename: trantypename,
				ccID: ccID,
				ccname: ccname,
				ordID: ordID,
				ordname: ordname,
				ordvalidfrom: ordValidfrom,
				orvalidto: ordValidto,
				amt:amt,
				itemdesp:itemdesp
			}
		})
		.done(function(data ) {
			$('#formCrtObj').form('clear');
			$('#dlgCreate').dialog('close');
			
			var data2 = JSON.stringify(data);
			var jsonData = JSON && JSON.parse(data2) || $.parseJSON(data2);
			$('#dg').datagrid('appendRow', jsonData);
		})
		.fail(function(msg) {
			var msg2 = JSON.stringify(msg.responseText);
			var jsonData = JSON && JSON.parse(msg2) || $.parseJSON(msg2);
			 $.messager.alert('Error', jsonData.Message, 'error');
		});		
	}
	function cancelForm() {
		$('#dlgCreate').dialog('close');
	}
	function refreshItem() {
		$('#dg').datagrid('reload');
	}
	function postDocument() {
		// Check header 
		var validchk = $('#frmDocHeader').form('validate');
		if (!validchk) {
			return;
		}

		// Check Items exist
		var items = $('#dg').datagrid('getRows');
		if (!items || items.length <= 0) {
			$.messager.alert('Error','No Items in current document!','Error');
			return;
		}
		
		// Check the validity of the internal orders
		var ioError = false;
		items.forEach(function(element, index, array) {
			if (element.OrderID !== null) {
				for(var i = 0; i < ordersData.length; i ++) {					
					if (parseInt(ordersData[i].id, 10) === parseInt(element.OrderID, 10)) {
						if (docdate >= new Date(ordersData[i].valid_from) && docdate <= new Date(ordersData[i].valid_to)) {							
						} else {
							$.messager.alert('Error','Please choose a valid internal order!','Error');
							ioError = true;
						}
						break;
					}
				}
				
				if (ioError) return false;
			}
		});
		
		// For testing purpose: testing the validation on PHP side
		if (ioError)
			return;
		
		// Then, submit to server side
		var doctype = $('#doctypeCombo').combogrid('getValue');
		var doctypename = $('#doctypeCombo').combogrid('getText');
		var curr = $('#currCombo').combogrid('getValue');
		//var currname = $('#currCombo').combogrid('getText');
		var docdesp = $('#docdesp').val();
		
		$.ajax({
			type: "POST",
			url: "script/financedocument_post.php",
			data: 
			{
				action: 'postDoc',
				doctype: doctype,
				doctypename: doctypename,
				docdate: dateformatter(docdate),
				doccurr: curr,
				docdesp: docdesp,
			}
		})
		.done(function(data ) {
			// switch to documents.php?
			cancelDocument();
		})
		.fail(function(msg) {
			var msg2 = JSON && JSON.stringify(msg.responseText);
			var jsonData = JSON && JSON.parse(msg2) || $.parseJSON(msg2);
			 $.messager.alert('Error', jsonData.Message, 'error');
		});		
	}
	function cancelDocument() {
		window.location.href = 'finance_documents.php' + location.search;
	}
	
	// For multiple languages
	function i18npostprocess(lang) {
		// Titles for dialogs
		//var titleStr = i18n.t("Learn.CreateLearningObjectTitle");
		//$('#dlgCreate').dialog("setTitle", titleStr);
	}
	
	// Internal buffers for orders
	$.ajax({
			type: "GET",
			url: "finance_internalorder.php?TYPE=10"
		})
		.done(function(data ) {
			ordersData = data;
			
			// Build up the combo box
			var options = {
					panelWidth: 500,
					idField: 'id',
					textField: 'name',
				    columns: [[
	   					{field:'id',title:'ID',width:20, align:'right'},
	   					{field:'name',title:'Name',width:50, align:'center'},
	   					{field:'valid_from',title:'Valid from',width:40, align:'center'},
	   					{field:'valid_to',title:'Valid to',width:40, align:'center'},
		                {field:'comment',title:'Comment',width:120,align:'center'}
		            ]],
		            data: []
				};
			options.data = data;
			$('#orderCombo').combogrid(options);
		})
		.fail(function(msg) {
			var msg2 = JSON && JSON.stringify(msg.responseText);
			var jsonData = JSON && JSON.parse(msg2) || $.parseJSON(msg2);
			 $.messager.alert('Error', jsonData.Message, 'error');
		});		
	</script>
	<!-- Content area of Finance Post Document Page begins -->

	