	<!-- Content area of Finance Control Center Page begins -->
	<h2 style="clear: both">Finance Control Centers</h2>

	<div>
		<p>Finance control center defines the list of all available categories
			in the finance part.</p>
	</div>
	
	
	<!-- Tree grid  -->
	<table id="tg" title="Finance Control Center" class="easyui-treegrid" style="width:100%;height:400px"
			url="finance_controlcenter.php?TYPE=15"
			rownumbers="true" toolbar="#toolbar"
			idField="id" treeField="name">
		<thead>
			<tr>
				<th field="name" width="40%">Name</th>
				<th field="comment" width="48%">Comment</th>
			</tr>
		</thead>
	</table>

	<!-- Toolbar of Tree grid -->
	<div id="toolbar">
		<a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-add" plain="true" onclick="newItem()">New 
		</a> <a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-edit" plain="true" onclick="changeItem()">Change 
		</a> <a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-remove" plain="true" onclick="destroyItem()">Destroy
		</a> 
	</div>
	
	<!-- Dialog to creation -->
	<div id="dlgCreate" class="easyui-dialog" title="Create Finance Control Center"
		style="width: 600px; height: 400px;"
		data-options="resizable:true,modal:true,closed:true">
		<div style="margin: 10px 0;"></div>
		<form id="formCrtObj" class="easyui-form" method="post">
			<table style="width: 90%">
				<tr>
					<td>Parent</td>
					<td>
						<div style="margin-bottom: 10px"></div>
						<select class="easyui-combotree" id="cmbParent"
							url="finance_controlcenter.php?TYPE=16" method="GET" name="parent"
							style="width: 100%; height: 30px; padding: 12px">
						</select>
					</td>
				</tr>
				<tr>
					<td>Name:</td>
					<td>
						<div style="margin-bottom: 20px">
							<input class="easyui-textbox" name="name" id="tbName"
								style="width: 100%; height: 30px; padding: 12px"
								data-options="prompt:'Name of objec', required: true,validType:'length[2,50]'">
						</div>
					</td>
				</tr>
				<tr>
					<td>Comment:</td>
					<td>
						<div style="margin-bottom: 20px">
							<input class="easyui-textbox" style="width:100%; height: 60px;" name="comment" id="tbComment" data-options="multiline:true"></input>								
						</div>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<div align="right">
							<a href="javascript:void(0)" class="easyui-linkbutton"
								data-options="iconCls:'icon-ok'" onclick="submitForm()"
								style="padding: 5px 0px; width: 30%;"> <span
								style="font-size: 14px;">Submit</span>
							</a> <a href="javascript:void(0)" class="easyui-linkbutton"
								data-options="iconCls:'icon-cancel'" onclick="cancelForm()"
								style="padding: 5px 0px; width: 30%;"> <span
								style="font-size: 14px;">Cancel</span>
							</a>
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>
	
	
	<!-- Scripts -->
	<script type="text/javascript">
	$('#formCrtObj').form({
		url : 'script/financecontrolcenter_create.php',
		onSubmit : function() {
			return $(this).form('validate');
		},
		success : function(data) {
			var jsonData;
			try {
				jsonData = JSON && JSON.parse(data) || $.parseJSON(data);
			} catch (e) {
				$.messager.alert('Error', e.description + data, 'Error');
			}
			if (jsonData.type === 'E') {
				$.messager.alert('Error', jsonData.Message, 'error');
			} else if (jsonData.type === 'S') {
				var newobject = jsonData.newobject[0];
				// Add it into the list with the new id
				$('#formCrtObj').form('clear');
				$('#dlgCreate').dialog('close');
				
				$('#tg').treegrid('append',{
					parent: newobject.parent,  // the node has a 'id' value that defined through 'idField' property
					data: [{
						id: newobject.id,
						name: newobject.name,
						comment: newobject.comment
					}]
				});
				
				$('#cmbParent').combotree('reload');
			}
		}
	});
	function newItem() {
		$('#dlgCreate').dialog('open');
	}
	function changeItem() {
		
	}
	function destroyItem() {
		var row = $('#tg').treegrid('getSelected');
		if (row) {
			$.messager.confirm('Confirm',
				'Are you sure you want to remove this control center and all its children?',
				function(r) {
					if (r) {
						$.post('script/financecontrolcenter_delete.php', {
							id : row.id
						}, function() {
							$('#tg').treegrid('remove', row.id);
						});
					}
				});
		}
	}
	function submitForm() {
		$('#formCrtObj').form('submit');
	}
	function cancelForm() {
		$('#dlgCreate').dialog('close');
	}
	</script>
	
	<!-- Content area of Finance Control Center Page ends -->

