	<!-- Content area of MainPage begins -->
	<style>
		body {
			font: 82.5% "Trebuchet MS", sans-serif;
			margin: 50px;
		}
		h2 {
			clear: both;
		}
	</style>

	<h2>Main page of HIH</h2>

	<div>
		<p>HIH, the abbreviation of Home Information Hub, which is built targets for all necessary information we need cross the home.
		The PoC here, demonstrates how to use jQuery Easy UI Library, and how to validate the form . <br />
		It also contains the objects validation, including: <br />
		(1) Reading data from MySql; <br />
		(2) Writing data back to MySql; <br />
		(3) Using jQuery to format the HTML output; <br />
		(4) Validate the framework may used; <br />
		</p>
	</div>
	<div class="container">This is the main page.</div>
	
	<script>
	// For multiple languages
	function i18npostprocess(lang) {
	}
	</script>
	<!-- Content area of MainPage ends -->	

