<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Home Info Hub, Version 0.3</title>

	<script src="js\jquery-1.11.2.min.js"></script>
	<script src="js\jquery.easyui.min.js"></script>
	<script src="js\i18next-1.7.7.min.js"></script>
	<script src="js\loginscript.js"></script>
	<script src="js\dateformat.js"></script>
	<script src="js\datagrid-detailview.js"></script>
	<script src="js\tinymce\tinymce.min.js"></script>
	<script src="js\highcharts\highcharts.js"></script>
	
	<link href="css\themes\color.css" rel="stylesheet">
	<link href="css\themes\icon.css" rel="stylesheet">
</head>
