
<!-- Content area of Finance Account Category Page begins -->
<h2 style="clear: both">Finance Account Categories</h2>

<div>
	<p>Finance account category defines the list of all available
		categories in the finance part.</p>
</div>


<!-- Datagrid -->
<table id="dg" class="easyui-datagrid"
	title="Finance Account Categories" style="width: 98%; height: 600px;"
	data-options="singleSelect:true,
					url:'finance_account_category.php?TYPE=10', method:'get', 
					fitColumns: true,
					rownumbers: true,
					showFooter: true"
	toolbar="#toolbar">
	<thead>
		<tr>
			<th data-options="field:'id', align:'right'" width="5%">ID</th>
			<th data-options="field:'name', align:'center'" width="50%">名称</th>
			<th
				data-options="field:'assetflag', align:'center',formatter:formatAssetFlag"
				width="15%">资产/负债</th>
			<th data-options="field:'comment', align:'center'" width="15%">Comment</th>
		</tr>
	</thead>
</table>

<!-- Toolbar of Datagrid -->
<div id="toolbar">
	<a href="javascript:void(0)" class="easyui-linkbutton"
		iconCls="icon-add" plain="true" onclick="newItem()">New </a> <a
		href="javascript:void(0)" class="easyui-linkbutton"
		iconCls="icon-edit" plain="true" onclick="changeItem()">Change </a> <a
		href="javascript:void(0)" class="easyui-linkbutton"
		iconCls="icon-remove" plain="true" onclick="destroyItem()">Destroy
	</a>
</div>

<!-- Scripts -->
<script type="text/javascript">
	function formatAssetFlag(val, row){
		return finAssetflag(val);
	}
	function newItem() {
		
	}
	function changeItem() {
		
	}
	function destroyItem() {
		
	}
	</script>

<!-- Content area of Finance Account Category Page ends -->
