
	<!-- Content area of Finance Report: Internal order Page begins -->
	<h2 style="clear: both;">Finance Report: Internal Order</h2>

	<div>
		<p>Finance Report, based on the internal order, and you can select the period as well.</p>
	</div>
	
	
	<!-- Data grid -->
	<table id="dg" class="easyui-datagrid" title="Finance Internal Order Report"
			style="width: 100%; height: 600px;"
			data-options="singleSelect:true,
					url:'finance_report_io.php?TYPE=10', method:'get', 
					rownumbers: true,
					noheader: true"
			>
		<thead>
			<tr>
			<th data-options="field:'ordid', align:'right'" width="5%"><span data-i18n="Common.ID">ID</span></th>
			<th data-options="field:'ordname', align:'center'" width="10%"><span data-i18n="Common.Name">Name</span></th>
			<th data-options="field:'valid_from', align:'right'" width="10%">Valid from</th>
			<th data-options="field:'valid_to', align:'right'" width="10%">Valid to</th>
			<th data-options="field:'balance',align:'right'" width="20%"><span >Amount</span></th>
			<th data-options="field:'trancurrname',align:'right'" width="15%">Currency</th>
			</tr>
		</thead>
	</table>
	
	<script>
	function formatExpenseFlag(val, row){
        return finExpenseFlag(val);
	}

	// For multiple languages
	function i18npostprocess(lang) {
		// Titles for dialogs
		//var titleStr = i18n.t("Learn.CreateLearningObjectTitle");
		//$('#dlgCreate').dialog("setTitle", titleStr);
	}
	</script>
	<!-- Content area of Finance Report: Internal order Page ends -->
	