	
	<!-- Content area of Finance Internal Order Page begins -->
	<h2 style="clear: both">Finance Internal Orders</h2>

	<div>
		<p>Finance account category defines the list of all available categories
			in the finance part.</p>
	</div>
	
	<!-- Datagrid -->
	<table id="dg" class="easyui-datagrid" title="Finance Internal Orders"
			style="width: 98%; height: 600px;"
			data-options="singleSelect:true,
					url:'finance_internalorder.php?TYPE=10', method:'get', 
					fitColumns: true,
					rownumbers: true"
			toolbar="#toolbar">
		<thead>
			<tr>
			<th data-options="field:'id', align:'right'" width="5%">ID</th>
			<th data-options="field:'name', align:'center'" width="50%">Name</th>
			<th data-options="field:'valid_from', align:'center'" width="15%">Valid From</th>
			<th data-options="field:'valid_to', align:'center'" width="15%">Valid To</th>
			<th data-options="field:'comment', align:'center'" width="15%">Comment</th>
			</tr>
		</thead>
	</table>

	<!-- Toolbar of Datagrid -->
	<div id="toolbar">
		<a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-add" plain="true" onclick="newItem()">New 
		</a> <a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-edit" plain="true" onclick="changeItem()">Change 
		</a> <a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-remove" plain="true" onclick="destoryItem()">Destroy
		</a> 
	</div>
	
	<!-- Scripts -->
	<script type="text/javascript">
	function newItem() {
		window.location.href = "finance_internalorder_create.php";
	}
	function changeItem() {
		
	}
	function destoryItem() {
		var row = $('#dg').datagrid('getSelected');
		if (row) {
			$.messager.confirm('Confirm',
				'Are you sure you want to delete the order?',
				function(r) {
					if (r) {
						var index = $('#dg').datagrid('getRowIndex', row);
						$.post('script/financeinternalorder_delete.php', {
							ordid : row.id
						}, function() {
							$('#dg').datagrid('deleteRow', index);
						});
					}
				});
		}		
	}
	function submitForm() {
		
	}
	function cancelForm() {
		
	}
	
	// Detail view
	$('#dg').datagrid({
		view: detailview,
		detailFormatter:function(index,row){
			return '<div style="padding:2px"><table id="ddv-' + index + '"></table></div>';
		},
		onExpandRow: function(index,row){
			$('#ddv-'+index).datagrid({
				url:'finance_internalorder.php?TYPE=10&flt=Ord&id='+row.id,
				fitColumns:true,
				singleSelect:true,
				rownumbers:true,
				loadMsg:'Loading Rules',
				height:'auto',
				columns:[[
					{field:'ruleid',title:'Rule ID',width:'10%',align:'right'},
					{field:'controlcenterid',title:'CC ID',width:'10%',align:'right'},
					{field:'controlcentername',title:'CC Name',width:'30%',align:'center'},
					{field:'precent',title:'Precent',width:'15%',align:'right'},
					{field:'comment',title:'Comment',width:'15%',align:'center'},
				]],
				onResize:function(){
					$('#dg').datagrid('fixDetailRowHeight',index);
				},
				onLoadSuccess:function(){
					setTimeout(function(){
						$('#dg').datagrid('fixDetailRowHeight',index);
					},0);
				}
			});
			$('#dg').datagrid('fixDetailRowHeight',index);
		}
	});
	</script>
	
	<!-- Content area of Finance Internal Order Page ends -->
