
	<!-- Content area of Finance Currency Page begins -->
	<h2 style="clear: both;">Finance Currencies</h2>

	<div>
		<p>Currencies: All allowed currencies in finance part.</p>
	</div>
	
	
	<!-- Datagrid -->
	<table id="dg" class="easyui-datagrid" title="Finance Currencies"
			style="width: 98%; height: 600px;"
			data-options="singleSelect:true,
					url:'finance_currency.php?TYPE=10', method:'get', 
					fitColumns: true,
					rownumbers: true,
					showFooter: true"
			toolbar="#toolbar">
		<thead>
			<tr>
			<th data-options="field:'curr', align:'right'" width="25%">Currency</th>
			<th data-options="field:'name', align:'center'" width="50%">Name</th>
			<th data-options="field:'symbol',align:'center'" width="15%">Symbol</th>
			</tr>
		</thead>
	</table>
	
	<!-- Content area of Finance Currency Page begins -->
