
	<!-- Content area of Finance Create Internal Order Page begins -->
	<h2 style="clear: both;">Create an Internal Order</h2>

	<div>
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="saveIO()"><span data-i18n="Common.Save">Save</span></a>
		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="cancelIO()"><span data-i18n="Common.Cancel">Cancel</span></a>
	</div>
	
	<!-- Layout -->
	<div class="easyui-accordion" style="width:100%;height:800px;">
		<!-- Header -->
		<div title="Header" data-options="iconCls:'icon-search', collapsed:false,collapsible:false" style="overflow:auto;padding:10px;">
			<form id="frmHeader" class="easyui-form" method="post">
				<table style="width: 100%">
					<tr>
						<td><span data-i18n="Common.Name">Name</span></td>
						<td>
							<div style="margin-bottom: 10px">
								<input class="easyui-textbox" name="name" id="tbName"
									style="width: 100%; height: 30px; padding: 12px"
									data-options="prompt:'Name of order', required: true,validType:'length[2,30]'">
							</div>
						</td>
					</tr>
					<tr>
						<td>Valid from</td>
						<td>
							<div style="margin-bottom: 10px">
								<input id="dateValidfrom" type="text" class="easyui-datebox" required="required" name="validfrom"
									style="width: 100%; height: 30px; padding: 12px"
									data-options="formatter:dateformatter, parser:dateparser"></input>
							</div>
						</td>
					</tr>
					<tr>
						<td>Valid to</td>
						<td>
							<div style="margin-bottom: 10px">
								<input id="dateValidto" type="text" class="easyui-datebox" required="required" name="validto"
									style="width: 100%; height: 30px; padding: 12px"
									data-options="formatter:dateformatter, parser:dateparser"></input>
							</div>
						</td>
					</tr>
					<tr>
						<td>Comment:</td>
						<td>
							<div style="margin-bottom: 10px">
								<input class="easyui-textbox" id="tbIOComment" data-options="multiline:true" 
										style="width:98%; height:60px">
							</div>
						</td>
					</tr>
				</table>	
			</form>		
		</div>
		
		<!-- Datagrid for Settlement rule -->
		<div title="Settlement Rules" data-options="iconCls:'icon-help', collapsed:false" style="padding:10px;">
			<table id="dg" class="easyui-datagrid" title="Rules inside Order"
				style="width: 98%; height: 600px;"
				data-options="singleSelect:true, showTitle:false,
						url:'finance_internalorder_create.php?TYPE=26',method:'get', noheader: true"
				toolbar="#toolbar">
				<thead>
					<tr>
						<th data-options="field:'RuleID', align:'right'" width="10%">Rule ID</th>
						<th data-options="field:'ControlCenterID', align:'right'" width="10%">CC ID</th>
						<th data-options="field:'ControlCenterName', align:'center'" width="30%">Control Center</th>
						<th data-options="field:'Precent', align:'right'" width="15%">Precent</th>
						<th data-options="field:'Comment', align:'center'" width="20%">Comment</th>
					</tr>
				</thead>
			</table>
		</div>
		
		<!-- Toolbar of Datagrid -->
		<div id="toolbar">
			<a href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-add" plain="true" onclick="newItem()">New 
			</a> <a href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-remove" plain="true" onclick="destroyItem()">Destroy
			</a> 
			<span> |</span>
			<a href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-reload" plain="true" onclick="refreshItem()">Refresh
			</a> 
		</div>
	</div>
	
	<!-- Dialog for creating rule -->
	<div id="dlgCreate" class="easyui-dialog" title="Create New Document Item"
		style="width: 600px; height: 400px;"
		data-options="resizable:true,modal:true,closed:true">
		<div style="margin: 10px 0;"></div>
		<form id="formCrtObj" class="easyui-form" method="post">
			<table style="width: 90%">
				<tr>
					<td>Control Center</td>
					<td>
						<div style="margin-bottom: 10px">
						 	<input class="easyui-combotree" id="controlcenterCombo"
						 		data-options="prompt:'Control Center',
						 		url:'finance_controlcenter.php?TYPE=16',method:'get',
								required:true" style="width:100%;">
						</div>
					</td>
				</tr>
				<tr>
					<td>Precent:</td>
					<td>
						<div style="margin-bottom: 20px">
						<input class="easyui-numberbox" name="itemamount" id="itemamount"
							style="width: 100%; height: 30px; padding: 12px"
							data-options="prompt:'Amount',required: true, min:0, max:100"></input>
						</div>
					</td>
				</tr>
				<tr>
					<td>Comment:</td>
					<td>
						<div style="margin-bottom: 20px">
							<input class="easyui-textbox" data-options="multiline:true" 
									id="tbComment"
									style="width:100%; height:60px">
						</div>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<div align="right">
							<a href="javascript:void(0)" class="easyui-linkbutton"
								data-options="iconCls:'icon-ok'" onclick="submitForm()"
								style="padding: 5px 0px; width: 30%;"> <span
								style="font-size: 14px;">Submit</span>
							</a> <a href="javascript:void(0)" class="easyui-linkbutton"
								data-options="iconCls:'icon-cancel'" onclick="cancelForm()"
								style="padding: 5px 0px; width: 30%;"> <span
								style="font-size: 14px;">Cancel</span>
							</a>
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>
	
	<script>
	function newItem() {
		$('#dlgCreate').dialog('open');
	}
	function destroyItem() {
		var row = $('#dg').datagrid('getSelected');
		if (row) {
			$.messager.confirm('Confirm', 'Are you sure you want to remove this line?',
				function(r) {
					if (r) {
						var index = $('#dg').datagrid('getRowIndex', row);
						$.post('script/financeinternalorder_create.php', {
							action: 'delItem',
							itemid : row.RuleID
						}, function() {
							$('#dg').datagrid('deleteRow', index);
						});
					}
				});
		}
		
	}
	function submitForm() {
		// Perform UI layer check first!
		var validchk = $('#formCrtObj').form('validate');
		if (!validchk) {
			return;
		}
		
		var ccID = $('#controlcenterCombo').combotree('getValue');
		var ccname = $('#controlcenterCombo').combotree('getText');
		var precent = $('#itemamount').val();
		var comment = $('#tbComment').val();		
		
		// Then, submit to server side
		$.ajax({
			type: "POST",
			url: "script/financeinternalorder_create.php",
			data: 
			{
				action: 'addItem',
				ccID: ccID,
				ccname: ccname,
				precent: precent,
				comment: comment
			}
		})
		.done(function(data ) {
			$('#formCrtObj').form('clear');
			$('#dlgCreate').dialog('close');
			
			var data2 = JSON.stringify(data);
			var jsonData = JSON && JSON.parse(data2) || $.parseJSON(data2);
			$('#dg').datagrid('appendRow', jsonData);
		})
		.fail(function(msg) {
			 $.messager.alert('Error', msg, 'error');
		});		
	}
	function cancelForm() {
		$('#dlgCreate').dialog('close');
	}
	function refreshItem() {
		$('#dg').datagrid('reload');
	}
	function saveIO() {
		// Check header 
		var validchk = $('#frmHeader').form('validate');
		if (!validchk) {
			return;
		}

		// Check Items exist
		var items = $('#dg').datagrid('getRows');
		if (!items || items.length <= 0) {
			$.messager.alert('Error','No rules in current order!','Error');
		}
		
		// Then, submit to server side
		var ioname = $('#tbName').val();
		var iovalidfrom = $('#dateValidfrom').datebox('getValue');
		var iovalidto = $('#dateValidto').datebox('getValue');
		var comment = $('#tbIOComment').val();
		
		$.ajax({
			type: "POST",
			url: "script/financeinternalorder_create.php",
			data: 
			{
				action: 'saveIO',
				name: ioname,
				validfrom: iovalidfrom,
				validto: iovalidto,
				comment: comment
			}
		})
		.done(function(data ) {
			cancelIO();
		})
		.fail(function(msg) {
			var msgData = JSON && JSON.parse(msg.responseText) || $.parseJSON(msg.responseText);
			 $.messager.alert('Error', msgData.Message, 'error');
		});		
	}
	function cancelIO() {
		window.location.href = 'finance_internalorder.php' + location.search;
	}
	// For multiple languages
	function i18npostprocess(lang) {
	}
	</script>
	<!-- Content area of Finance Create Internal Order Page begins -->

	