
<!-- Content area of Learn Objects (Hierarchy) Page begins -->
<h2 style="clear: both;" data-i18n="Learn.LearningObjectListTitle">Learn
	Object in List View</h2>

<div>

	<p data-i18n="Learn.LearningObjectListDesp">Learn objects in List
		view show all the objects.</p>
	<div style="margin: 20px 0;"></div>

	<!-- Datagrid -->
	<table id="dg" class="easyui-datagrid" title="Learn Objects"
		style="width: 80%; height: 400px;"
		data-options="singleSelect:true,collapsible:true,url:'learn_object_list.php?TYPE=10',method:'get'"
		toolbar="#toolbar" pagination="false" fit="true">
		<thead>
			<tr>
				<th data-options="field:'id'" width="10%"><span
					data-i18n="Common.ID">ID</span></th>
				<th data-options="field:'categoryname'" width="20%"><span
					data-i18n="Common.Category">Category</span></th>
				<th data-options="field:'name',align:'center'" width="20%"><span
					data-i18n="Common.Name">Name</span></th>
				<th data-options="field:'content', align:'center'" width="50%"><span
					data-i18n="Common.Content">Content</span></th>
			</tr>
		</thead>
	</table>

	<!-- Toolbar of Datagrid -->
	<div id="toolbar">
		<a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-add" plain="true" onclick="newItem()"> <span
			data-i18n="Common.New">New</span>
		</a> <a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-edit" plain="true" onclick="changeItem()"> <span
			data-i18n="Common.Change">Change</span>
		</a> <a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-remove" plain="true" onclick="destroyItem()"> <span
			data-i18n="Common.Delete">Destroy</span>
		</a>
	</div>

	<!-- Dialog for new item -->
	<div id="dlgCreate" class="easyui-dialog" title="Create Learn Object"
		style="width: 600px; height: 400px;"
		data-options="iconCls:'icon-save',resizable:true,modal:true,closed:true">
		<div style="margin: 10px 0;"></div>
		<form id="formCrtObj" class="easyui-form" method="post">
			<table style="width: 90%">
				<tr>
					<td data-i18n="Common.Category">Category</td>
					<td>
						<div style="margin-bottom: 10px"></div> <!--  <select
							class="easyui-combobox" id="cmbCategory"
							style="width: 100%; height: 30px; padding: 12px" name="gender"
							required="required">
							<option value="1" selected="selected">male</option>
							<option value="0">female</option>							
							</select>
							!--> <select class="easyui-combotree" id="cmbCategory"
						url="learn_category.php?TYPE=10" name="category"
						style="width: 100%; height: 30px; padding: 12px">
					</select>
					</td>
				</tr>
				<tr>
					<td>Name:</td>
					<td>
						<div style="margin-bottom: 20px">
							<input class="easyui-textbox" name="name" id="tbName"
								style="width: 100%; height: 30px; padding: 12px"
								data-options="prompt:'Name of object', required: true,validType:'length[2,50]'">
						</div>
					</td>
				</tr>
				<tr>
					<td>Content:</td>
					<td>
						<div style="margin-bottom: 20px">
							<input class="easyui-textbox" style="width: 100%; height: 120px;"
								name="content" id="taContent" data-options="multiline:true"></input>
						</div>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<div align="right">
							<a href="javascript:void(0)" class="easyui-linkbutton"
								data-options="iconCls:'icon-ok'" onclick="submitForm()"
								style="padding: 5px 0px; width: 30%;"> <span
								style="font-size: 14px;">Submit</span>
							</a> <a href="javascript:void(0)" class="easyui-linkbutton"
								data-options="iconCls:'icon-cancel'" onclick="cancelForm()"
								style="padding: 5px 0px; width: 30%;"> <span
								style="font-size: 14px;">Cancel</span>
							</a>
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>

	<!-- Dialog for editting item -->
	<div id="dlgEdit" class="easyui-dialog" title="Edit Learn Object"
		style="width: 600px; height: 420px;"
		data-options="iconCls:'icon-save',resizable:true,modal:true">
		<div style="margin: 10px 0;"></div>
		<form id="formEdtObj" class="easyui-form" method="post">
			<table style="width: 90%">
				<tr>
					<td>ID</td>
					<td>
						<div style="margin-bottom: 10px"></div> <input
						class="easyui-textbox" id="tbID_edit" name="id_edit"
						style="width: 100%; height: 30px; padding: 12px" />
					</td>
				</tr>
				<tr>
					<td>Category</td>
					<td>
						<div style="margin-bottom: 10px"></div> <select
						class="easyui-combotree" id="cmbCategory_edit"
						url="learn_category.php?TYPE=10" name="category_edit"
						style="width: 100%; height: 30px; padding: 12px">
					</select>
					</td>
				</tr>
				<tr>
					<td>Name:</td>
					<td>
						<div style="margin-bottom: 20px">
							<input class="easyui-textbox" name="name_edit" id="tbName_edit"
								style="width: 100%; height: 30px; padding: 12px"
								data-options="prompt:'Name of object', required: true,validType:'length[2,50]'">
						</div>
					</td>
				</tr>
				<tr>
					<td>Content:</td>
					<td>
						<div style="margin-bottom: 20px">
							<textarea name="content_edit" rows="6" id="taContent_edit"
								style="width: 100%; height: 120px; padding: 12px"></textarea>
						</div>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<div align="right">
							<a href="javascript:void(0)" class="easyui-linkbutton"
								data-options="iconCls:'icon-ok'" onclick="submitEditForm()"
								style="padding: 5px 0px; width: 30%;"> <span
								style="font-size: 14px;">Submit</span>
							</a> <a href="javascript:void(0)" class="easyui-linkbutton"
								data-options="iconCls:'icon-cancel'" onclick="cancelEditForm()"
								style="padding: 5px 0px; width: 30%;"> <span
								style="font-size: 14px;">Cancel</span>
							</a>
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>

	<script>
		$('#formCrtObj').form({
			url : 'script/learnobject_create.php',
			onSubmit : function() {
				return $(this).form('validate');
			},
			success : function(data) {
				var jsonData;
				try {
					jsonData = JSON && JSON.parse(data) || $.parseJSON(data);
				} catch (e) {
					$.messager.alert('Error', e.description + data, 'Error');
				}
				if (jsonData.type === 'E') {
					$.messager.alert('Error', jsonData.Message, 'error');
				} else if (jsonData.type === 'S') {
					var newobject = jsonData.newobject[0];
					// Add it into the list with the new id
					$('#formCrtObj').form('clear');
					$('#dlgCreate').dialog('close');
					$('#dg').datagrid('appendRow', {
						id : newobject.id,
						categoryname : newobject.categoryname,
						name : newobject.name,
						content : newobject.content
					});
				}
			}
		});
		$('#formEdtObj').form({
			url : 'script/learnobject_change.php',
			onSubmit : function() {
				return $(this).form('validate');
			},
			success : function(data) {
				var jsonData;
				try {
					jsonData = JSON && JSON.parse(data) || $.parseJSON(data);
				} catch (e) {
					$.messager.alert('Error', e.description + data, 'Error');
				}
				if (jsonData.type === 'E') {
					$.messager.alert('Error', jsonData.Message, 'error');
				} else if (jsonData.type === 'S') {
					//var newobject = jsonData.newobject[0];
					// Update it into the list with the new id
					//		Not possible, because it's hard to retrieve the new category name,
					//		So, just reload the whole table...
					// $('#dg').datagrid('updateRow', {
					$('#formEdtObj').form('clear');
					$('#dlgEdit').dialog('close');
					$('#dg').datagrid('reload');
				}
			}
		});
		$("#dlgEdit").dialog(
				{
					closed : true,
					onOpen : function() {
						var row = $('#dg').datagrid('getSelected');
						if (row) {
							$("#tbID_edit").textbox('setValue', row.id);
							$("#tbID_edit").textbox('readonly', true);
							$("#cmbCategory_edit").combotree('setValue',
									row.categoryid);
							//$( "#tbName_edit" ).val( row.name );
							$("#tbName_edit").textbox('setValue', row.name);
							$("#taContent_edit").val(row.content);
						}
					}
				});
		function newItem() {
			$('#dlgCreate').dialog('open');
		}
		function changeItem() {
			// Check the selected
			var row = $('#dg').datagrid('getSelected');
			if (row) {
				$('#dlgEdit').dialog('open');
			}
		}
		function destroyItem() {
			var row = $('#dg').datagrid('getSelected');
			if (row) {
				$.messager.confirm('Confirm',
						'Are you sure you want to remove this object?',
						function(r) {
							if (r) {
								var index = $('#dg').datagrid('getRowIndex',
										row);
								$.post('script/learnobject_delete.php', {
									id : row.id
								}, function() {
									$('#dg').datagrid('deleteRow', index);
								});
							}
						});
			}
		}
		function submitForm() {
			$('#formCrtObj').form('submit');
		}
		function cancelForm() {
			$('#formCrtObj').dialog('close');
		}
		function submitEditForm() {
			$('#formEdtObj').form('submit');
		}
		function cancelEditForm() {
			$('#formEdtObj').dialog('close');
		}
	</script>
</div>
<!-- Content area of Learn Objects (List) Page ends -->

