
	<!-- Content area of Finance Doucments Page begins -->
	<h2 style="clear: both;">Finance Documents</h2>

	<div>
		<p>Finance documents: All documents in finance part.</p>
	</div>
	
	
	<!-- Layout -->
	<div class="easyui-layout" style="width:98%; height:600px;">
		<!-- Account plus Category Hierarchy -->
        <div id="panelAccount" data-options="region:'west'" title="Accounts" style="width:30%;padding:10px">
			<ul id="treeAcnts" class="easyui-tree" data-options="
				url: 'finance_account.php?TYPE=11',
				method: 'get',
				animate: true,
				onClick: accountHierarchyClick,
				onLoadSuccess: accountHierarchyLoadSuccess"></ul>
        </div>
        
        <!-- Document Table -->
        <div data-options="region:'center'" title="Corresponding Documents">
        	<table id="dgDocu" class="easyui-datagrid" title="Finance Documents"
					style="width: 98%; height: 600px;"
					data-options="singleSelect:true,
						url:'finance_documents.php?TYPE=10', 
						method:'get', 
						fitColumns: true,
						rownumbers: true,
						showFooter: true,
						noheader: true"
					toolbar="#toolbar">
				<thead>
					<tr>
						<th data-options="field:'docid', align:'right'" width="5%">Doc ID</th>
						<th data-options="field:'doctype', align:'right'" width="5%">Doc Type</th>
						<th data-options="field:'doctypename', align:'center'" width="20%"><span data-i18n="Finance.DocumentType">Doc Type Name</span></th>
						<th data-options="field:'trandate', align:'right'" width="15%"><span data-i18n="Common.Date">Date</span></th>
						<th data-options="field:'trancurr', align:'right'" width="10%">Currency</th>
						<th data-options="field:'trancurrname', align:'center'" width="15%"><span data-i18n="Finance.Currency">Currency</span></th>
						<th data-options="field:'tranamount', align:'right'" width="20%"><span data-i18n="Finance.Amount">Amount</span></th>
						<th data-options="field:'desp', align:'center'" width="20%">Desp</th>
					</tr>
				</thead>
        	</table>
        </div>
    </div>	

	<!-- Toolbar of Datagrid -->
	<div id="toolbar">
		<a href="finance_postdocument.php" class="easyui-linkbutton"
			iconCls="icon-add" plain="true"><span data-i18n="Common.New">New </span>
		</a> <a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-edit" plain="true" onclick="changeItem()"><span data-i18n="Common.Change">Change</span>
		</a> <a href="javascript:void(0)" class="easyui-linkbutton"
			iconCls="icon-remove" plain="true" onclick="destoryItem()"><span data-i18n="Common.Delete">Destroy</span>
		</a> 
	</div>
    
	<script>
	function accountHierarchyLoadSuccess(node, data) {
		console.log('Account Hierarchy Load Successfully:' + node);
		var nodeRoots = $('#treeAcnts').tree('getRoots');
		if (nodeRoots && nodeRoots.length > 0) {
			$('#treeAcnts').tree('select', nodeRoots[0].target);
			accountHierarchyClick(nodeRoots[0]);
		}		
	}
	function accountHierarchyClick(node) {
		console.log('Account Hierarchy Node Clicked:' + node.id);
		var idStr = node.id.substring(0, 4);
		
		if (idStr=== 'Ctgy') {
			$('#dgDocu').datagrid('load',{
				flt: 'Ctgy',
		        id: node.id.substring(4)
		    });
		} else if (idStr === 'Acnt') {
			$('#dgDocu').datagrid('load',{
				flt: 'Acnt',
		        id: node.id.substring(4)
		    });			
		} else {
			$('#dgDocu').datagrid('load',{
				flt: 'All'
		    });			
		}
	}
	function changeItem() {
		
	}
	function destoryItem() {
		var row = $('#dgDocu').datagrid('getSelected');
		if (row) {
			$.messager.confirm('Confirm',
				'Are you sure you want to delete the document?',
				function(r) {
					if (r) {
						var index = $('#dgDocu').datagrid('getRowIndex', row);
						$.post('script/financedocument_delete.php', {
							docid : row.docid
						}, function() {
							$('#dgDocu').datagrid('deleteRow', index);
						});
					}
				});
		}
	}
	
	// Detail view
	$('#dgDocu').datagrid({
		view: detailview,
		detailFormatter:function(index,row){
			return '<div style="padding:2px"><table id="ddv-' + index + '"></table></div>';
		},
		onExpandRow: function(index,row){
			$('#ddv-'+index).datagrid({
				url:'finance_documents.php?TYPE=10&flt=Docu&id='+row.docid,
				fitColumns:true,
				singleSelect:true,
				rownumbers:true,
				loadMsg:'Loading Items',
				height:'auto',
				columns:[[
					{field:'docid',title:'Doc ID',width:'5%',align:'right'},
					{field:'itemid',title:'Item ID',width:'5%',align:'right'},
					{field:'accountid',title:'Account ID',width:'5%',align:'right'},
					{field:'accountname',title:'Account',width:'10%',align:'center'},
					{field:'categoryname',title:'Category',width:'10%',align:'center'},
					{field:'trantype',title:'Trantype',width:'5%',align:'right'},
					{field:'trantypename',title:'Tran Type',width:'10%',align:'center'},
					{field:'tranamount',title:'Amount',width:'10%',align:'right'},
					{field:'controlcenterid',title:'CC ID',width:'5%',align:'right'},
					{field:'controlcentername',title:'CC Name',width:'10%',align:'center'},
					{field:'orderid',title:'Order ID',width:'5%',align:'right'},
					{field:'ordername',title:'Amount',width:'10%',align:'center'},
					{field:'desp',title:'Desp',width:'10%',align:'center'},
					//{field:'unitprice',title:'Unit Price',width:100,align:'right'}
				]],
				onResize:function(){
					$('#dgDocu').datagrid('fixDetailRowHeight',index);
				},
				onLoadSuccess:function(){
					setTimeout(function(){
						$('#dgDocu').datagrid('fixDetailRowHeight',index);
					},0);
				}
			});
			$('#dgDocu').datagrid('fixDetailRowHeight',index);
		}
	});
	</script>
	<!-- Content area of Finance Documents Page ends -->
	