<div id="viewFinanceDocument">
	<div class="page-header">
		<h2>
			<span translate="Finance.Document">Finance Document</span><small> {{Activity | translate}}</small>
		</h2>
	</div>

    <!-- Messages -->
    <div ng-if="ReportedMessages.length > 0">
        <div class="alert alert-danger" role="alert" ng-repeat="rptmsg in ReportedMessages">
            {{ rptmsg  }}
        </div>
    </div>
    
    <!-- Buttons -->
    <div class="form-group">
    	<div class="col-sm-10">
        	<button class="btn btn-default btn-primary" ng-click="submit()" ng-hide="isReadonly">Submit</button>
            <button class="btn btn-danger" ng-click="close()">Cancel</button>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="showhdr ? 'active' : ''"><a role="button" ng-click="showhdr = true">Header</a></li>
        <li role="presentation" ng-class="showhdr ? '' : 'active'"><a role="button" ng-click="showhdr = false">Items</a></li>
    </ul>

    <!-- Header -->
    <div class="container" ng-show="showhdr">
        <form class="form-horizontal" role="form" name="frmObj" style="margin: 30px, 10px;">
            <div class="form-group">
                <label class="control-label col-sm-2" for="iptDocID" translate="Common.ID">ID:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="iptDocID"
                           readonly="readonly" placeholder="{{'Common.ID' | translate }}" ng-model="DocumentObject.DocID">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" translate="Finance.DocumentType">Doc. Type:</label>
                <div class="col-sm-10">
                    <ui-select ng-model="DocumentObject.DocTypeObject.selected" theme="select2" search-enabled="true" ng-disabled="isReadonly" style="min-width: 300px;">
                        <ui-select-match placeholder="Select a document type via the name...">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="doctype in AllDocumentTypes">
                            <div ng-bind-html="doctype.Name | highlight: $select.search"></div>
                            <small>
                                ID: {{doctype.ID}} <br />
                                Comment: <span ng-bind-html="+doctype.Comment | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" translate="Finance.Currency">Currency:</label>
                <div class="col-sm-10">
                    <ui-select ng-model="DocumentObject.TranCurrencyObject.selected" theme="select2" search-enabled="true" ng-disabled="isReadonly" style="min-width: 300px;">
                        <ui-select-match placeholder="Select a currency via the name...">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="acur in AllCurrencies">
                            <div ng-bind-html="acur.Name | highlight: $select.search"></div>
                            <small>
                                ID: {{acur.Currency}} <br />
                                Symbol: <span ng-bind-html="+acur.Symbol | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" translate="Common.Date">Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" datepicker-popup="{{DateFormat}}" ng-model="DocumentObject.TranDate" is-open="isDateOpened"
                           datepicker-options="dateOptions" ng-required="true" ng-readonly="isReadonly" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="iptDocAmount" translate="Finance.Amount">Amount</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="iptDocAmount" readonly
                           placeholder="Amount" ng-model="DocumentObject.TranAmount" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="iptDocDesp" translate="Common.Description">Desp</label>
                <div class="col-sm-10">
                    <textarea id="iptDocDesp" rows="5" columns="50" ng-readonly="isReadonly" ng-model="DocumentObject.Desp"></textarea>
                </div>
            </div>
        </form>
    </div>

    <!-- Items -->
    <div class="container" ng-show="!showhdr">
    	<div id="gridFinDocItems" ui-grid="gridOptions" ui-grid-resize-columns
		 	 style="width: 100%; height: 500px;"></div>

        <!-- Item Detail -->
        <div class="panel panel-default" style="margin: 30px, 10px;">
            <div class="panel-heading">{{ItemActivity | translate}}</div>
            
            <div class="panel-body">
            <form class="form-horizontal" role="form" name="frmItem">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptItemID" translate="Finance.ItemID">Item ID:</label>
                    <div class="col-sm-10">
      					<p class="form-control-static" id="iptItemID">{{SelectedDocumentItem.ItemID}}</p>
    				</div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" translate="Finance.Account">Account:</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="SelectedDocumentItem.AccountObject.selected" theme="select2" search-enabled="true" ng-disabled="isReadonly" style="min-width: 300px;">
                            <ui-select-match placeholder="Select an account via the name...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="acnt in AllAccounts">
                                <div ng-bind-html="acnt.Name | highlight: $select.search"></div>
                                <small>
                                    ID: {{acnt.ID}} <br />
                                    Name: <span ng-bind-html="''+acnt.Name | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" translate="Finance.TransactionType">Transaction Type:</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="SelectedDocumentItem.TranTypeObject.selected" theme="select2" search-enabled="true" ng-disabled="isReadonly" style="min-width: 300px;">
                            <ui-select-match placeholder="Select a type via the name...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="tt in AllTransactionTypes">
                                <div ng-bind-html="tt.Name | highlight: $select.search"></div>
                                <small>
                                    ID: {{tt.ID}} <br />
                                    Name: <span ng-bind-html="''+tt.Name | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptItemAmt" translate="Finance.Amount">Amount:</label>
                    <div class="col-sm-10">
                        <input type="text" id="iptItemAmt" ng-readonly="isReadonly" ng-model="SelectedDocumentItem.TranAmount"></input>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptItemDesp" translate="Common.Description">Desp: </label>
                    <div class="col-sm-10">
                        <textarea rows="5" id="iptItemDesp" ng-readonly="isReadonly" cols="50"
                                  ng-model="SelectedDocumentItem.Desp"></textarea>
			        </div>
		        </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" translate="Finance.ControlCenter">Control Center</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="SelectedDocumentItem.ControlCenterObject.selected" theme="select2" search-enabled="true" ng-disabled="isReadonly" style="min-width: 300px;">
                            <ui-select-match placeholder="Select a type via the name...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="cc in AllControlCenters">
                                <div ng-bind-html="cc.Name | highlight: $select.search"></div>
                                <small>
                                    ID: {{cc.ID}} <br />
                                    Name: <span ng-bind-html="''+cc.Name | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" translate="Finance.Order">Order:</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="SelectedDocumentItem.OrderObject.selected" theme="select2" search-enabled="true" ng-disabled="isReadonly" style="min-width: 300px;">
                            <ui-select-match placeholder="Select an order via the name...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="ord in AllOrders">
                                <div ng-bind-html="ord.Name | highlight: $select.search"></div>
                                <small>
                                    ID: {{ord.ID}} <br />
                                    Name: <span ng-bind-html="''+ord.Name | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <!-- Button group -->
                <div class="form-group">
                	<div class="col-sm-10">
                    	<button class="btn btn-default btn-primary" ng-click="saveCurrentItem()" ng-hide="isReadonly"
                        		ng-disabled="frmItem.$invalid || !frmItem.$dirty">Save Item</button>
                        <button class="btn btn-danger" ng-click="cancelCurrentItem()">Cancel Item Editing</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>


