<div id="viewFinanceDocument">
	<div class="page-header">
		<h2>
			Finance Document<small> {{Activity}}</small>
		</h2>
	</div>

    <!-- Buttons -->
    <div class="form-group">
    	<div class="col-sm-10">
        	<button class="btn btn-default btn-primary" ng-click="submit()" ng-hide="isReadonly"
            		ng-disabled="frmObj.$invalid || !frmObj.$dirty || ItemsChanged">Submit</button>
            <button class="btn btn-danger" ng-click="close()">Cancel</button>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="showhdr ? 'active' : ''"><a role="button" ng-click="showhdr = true">Header</a></li>
        <li role="presentation" ng-class="showhdr ? '' : 'active'"><a role="button" ng-click="showhdr = false">Items</a></li>
    </ul>

    <!-- Header -->
    <div class="container" ng-show="showhdr">
        <form class="form-horizontal" role="form" name="frmObj">
            <div class="form-group">
                <label class="control-label col-sm-2" for="iptID">ID:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="iptID"
                           readonly="readonly" placeholder="ID" ng-model="DocumentHeader.DocumentID">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="iptType">Doc. Type:</label>
                <div class="col-sm-10">
                    <ui-select ng-model="DocumentHeader.DocumentType.selected" theme="select2" search-enabled="true" ng-disabled="isReadonly" style="min-width: 300px;">
                        <ui-select-match placeholder="Select a document type via the name...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="doctype in AllDocumentTypes">
                            <div ng-bind-html="doctype.name | highlight: $select.search"></div>
                            <small>
                                ID: {{doctype.id}} <br />
                                Name: <span ng-bind-html="''+doctype.name | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="iptCurr">Currency:</label>
                <div class="col-sm-10">
                    <ui-select ng-model="DocumentHeader.Currency.selected" theme="select2" search-enabled="true" ng-disabled="isReadonly" style="min-width: 300px;">
                        <ui-select-match placeholder="Select a currency via the name...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="curr in AllCurrencies">
                            <div ng-bind-html="curr.name | highlight: $select.search"></div>
                            <small>
                                ID: {{curr.curr}} <br />
                                Name: <span ng-bind-html="''+curr.name | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="iptDate">Date</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" datepicker-popup="{{DateFormat}}" ng-model="DocumentHeader.DocumentDate" is-open="isDateOpened"
                           datepicker-options="dateOptions" ng-required="true" ng-readonly="isReadonly" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="iptAmount">Amount</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="iptAmount" ng-readonly="isReadonly"
                           placeholder="Amount" ng-model="DocumentHeader.DocumentAmount" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="iptDesp">Desp</label>
                <div class="col-sm-10">
                    <textarea rows="5" columns="50" ng-readonly="isReadonly" ng-model="DocumentHeader.DocumentDesp"></textarea>
                </div>
            </div>
        </form>
    </div>

    <!-- Items -->
    <div class="container" ng-show="!showhdr">        
        <div class="btn-group" role="group" aria-label="Items Operation">
            <button type="button" class="btn btn-default" ng-disabled="isReadonly" ng-click="addDocItem()">Add Item</button>
            <button type="button" class="btn btn-default" ng-disabled="isReadonly">Delete Items</button>
        </div>

        <table st-table="ItemsCollection" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="itemid">Item ID</th>
                    <th st-sort="accountid">Account ID</th>
                    <th st-sort="accountname">Account Name</th>
                    <th st-sort="accountcategoryname">Account Category Name</th>
                    <th st-sort="trantypename">Transaction</th>
                    <th st-sort="trantypeexpense">Expense Flag</th>
                    <th st-sort="tranamount">Amount</th>
                    <th st-sort="desp">Desp</th>
                </tr>
                <tr>
                    <th colspan="9">
                        <input st-search="" class="form-control" placeholder="global search ..." type="text" />
                    </th>
                </tr>
            </thead>
            
            <tbody>
                <tr ng-repeat="row in ItemsCollection" st-select-row="row" st-select-mode="single">
                    <td>{{row.itemid}}</td>
                    <td>{{row.accountid}}</td>
                    <td>{{row.accountname}}</td>
                    <td>{{row.accountcategoryname}}</td>
                    <td>{{row.trantypename}}</td>
                    <td>{{row.trantypeexpense}}</td>
                    <td>{{row.tranamount | currency}}</td>
                    <td>{{row.desp}}</td>
                </tr>
            </tbody>
        </table>

        <!-- Item Detail -->
        <div class="container" ng-hide="isReadonly">
            <div>{{ItemActivity}}</div>
            <form class="form-horizontal" role="form" name="frmItem">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptItemID">Item ID:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="iptItemID"
                               readonly="readonly" placeholder="ID" ng-model="SelectedDocumentItem.itemid">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptAccount">Account:</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="SelectedDocumentItem.Account.selected" theme="select2" search-enabled="true" ng-disabled="isReadonly" style="min-width: 300px;">
                            <ui-select-match placeholder="Select an account via the name...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="acnt in AllAccounts">
                                <div ng-bind-html="acnt.name | highlight: $select.search"></div>
                                <small>
                                    ID: {{acnt.id}} <br />
                                    Name: <span ng-bind-html="''+acnt.name | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptTranType">Transaction Type:</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="SelectedDocumentItem.TranType.selected" theme="select2" search-enabled="true" ng-disabled="isReadonly" style="min-width: 300px;">
                            <ui-select-match placeholder="Select a type via the name...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="tt in AllTransactionTypes">
                                <div ng-bind-html="tt.name | highlight: $select.search"></div>
                                <small>
                                    ID: {{tt.id}} <br />
                                    Name: <span ng-bind-html="''+tt.name | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptAmt">Amount:</label>
                    <div class="col-sm-10">
                        <input type="number" id="iptAmt" ng-readonly="isReadonly" ng-model="SelectedDocumentItem.Amount"></input>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptDesp">Desp</label>
                    <div class="col-sm-10">
                        <textarea rows="5" id="iptReason" ng-readonly="isReadonly" cols="50"
                                    ng-model="SelectedDocumentItem.Desp"></textarea>
			        </div>
		        </div>

                <!-- Button group -->
                <div class="form-group">
                	<div class="col-sm-10">
                    	<button class="btn btn-default btn-primary" ng-click="saveCurrentItem()" ng-hide="isReadonly"
                        		ng-disabled="frmItem.$invalid || !frmItem.$dirty">Save Item</button>
                        <button class="btn btn-danger" ng-click="cancelCurrentItem()">Cancel Item</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


