<div id="viewFinanceAccountList">

	<div class="page-header">
		<h2>
			Finance Account <small ng-i18next="Common.ListView"> List View </small>
		</h2>
		<button type="button" class="btn btn-primary" ng-click="newItem()">New</button>
	</div>

	<table st-table="displayedCollection" st-safe-src="rowCollection"
		class="table table-striped">
		<thead>
			<tr>
				<th st-sort="id">ID</th>
				<th st-sort="ctgyid">Category ID</th>
				<th st-sort="ctgyname">Category Name</th>
				<th st-sort="name">Name</th>
				<th st-sort="assetflag">Asset Flag</th>
				<th st-sort="comment">Comment</th>
			</tr>
			<tr>
				<th colspan="7"><input st-search="" class="form-control" placeholder="global search ..." type="text" /></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in displayedCollection">
				<td>{{row.id}}</td>
				<td>{{row.ctgyid}}</td>
				<td>{{row.ctgyname}}</td>
				<td>{{row.name}}</td>
				<td>{{row.assetflag}}</td>
				<td>{{row.comment}}</td>
				<td>
					<div class="btn-group" role="group">
						<button type="button" ng-click="displayItem(row)"
							class="btn-group btn-primary" role="group">
							<i class="glyphicon glyphicon-share"> </i>
						</button>
						<button type="button" ng-click="editItem(row)"
							class="btn-group btn-warning" role="group">
							<i class="glyphicon glyphicon-edit"> </i>
						</button>
						<button type="button" ng-click="removeItem(row)"
							class="btn-group btn-danger" role="group">
							<i class="glyphicon glyphicon-trash"> </i>
						</button>
					</div>					
				</td>
			</tr>
		</tbody>
	</table>
</div>
