<div id="viewFinanceOrder">
	<div class="page-header">
		<h2>
			<span translate="Finance.Order">Order</span><small> {{Activity | translate}}</small>
		</h2>
	</div>	
	
    <!-- Buttons -->
    <div class="form-group">
    	<div class="col-sm-10">
        	<button class="btn btn-default btn-primary" ng-click="submit()" ng-hide="isReadonly"
            		ng-disabled="frmObj.$invalid || !frmObj.$dirty || ItemsChanged">Submit</button>
            <button class="btn btn-danger" ng-click="close()">Cancel</button>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="showhdr ? 'active' : ''"><a role="button" ng-click="showhdr = true">Header</a></li>
        <li role="presentation" ng-class="showhdr ? '' : 'active'"><a role="button" ng-click="showhdr = false">Rules</a></li>
    </ul>

    <!-- Header -->
    <div class="container" ng-show="showhdr">
        <form class="form-horizontal" role="form" name="frmObj">
            <div class="form-group">
                <label class="control-label col-sm-2" for="iptID">ID:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="iptID"
                           readonly="readonly" placeholder="ID" ng-model="OrderObject.ID">
                </div>
            </div>
            
            <div class="form-group">
			     <label class="control-label col-sm-2" for="iptName" translate="Common.Name">Name</label>
			     <div class="col-sm-10">
				        <input type="text" class="form-control" id="iptName" ng-readonly="isReadonly"
						       placeholder="{{'Common.Name' | translate}}" ng-model="OrderObject.Name" required>
			     </div>
		     </div>

            <div class="form-group">
                <label class="control-label col-sm-2" translate="Common.ValidFrom">Valid from</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" datepicker-popup="{{DateFormat}}" ng-model="OrderObject.ValidFrom" is-open="isDateOpened"
                           datepicker-options="dateOptions" ng-required="true" ng-readonly="isReadonly" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-sm-2" translate="Common.ValidTo">Valid to</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" datepicker-popup="{{DateFormat}}" ng-model="OrderObject.ValidTo" is-open="isDateOpened"
                           datepicker-options="dateOptions" ng-required="true" ng-readonly="isReadonly" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="iptComment" translate="Common.Comment">Comment</label>
                <div class="col-sm-10">
                    <textarea id="iptComment" rows="5" columns="50" ng-readonly="isReadonly" ng-model="OrderObject.Comment"></textarea>
                </div>
            </div>
        </form>
    </div>

    <!-- Rules -->
    <div class="container" ng-show="!showhdr">
    	<div id="gridOrderSRules" ui-grid="gridOptions"
		 	 style="width: 100%; height: 500px;"></div>

        <!-- Item Detail -->
        <div class="container">
            <div>{{ItemActivity | translate}}</div>
            <form class="form-horizontal" role="form" name="frmItem">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptRuleID">Rule ID:</label>
                    <div class="col-sm-10">
      					<p class="form-control-static" id="iptRuleID">{{SelectedRuleObject.RuleID}}</p>
    				</div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" translate="Finance.ControlCenter">Control Center:</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="SelectedRuleObject.ControlCenterObject.selected" theme="select2" search-enabled="true" ng-disabled="isReadonly" style="min-width: 300px;">
                            <ui-select-match placeholder="Select a control center via the name...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="cc in AllCostCenters">
                                <div ng-bind-html="cc.Name | highlight: $select.search"></div>
                                <small>
                                    ID: {{cc.ID}} <br />
                                    Name: <span ng-bind-html="''+cc.Name | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptPcnt">Precentage:</label>
                    <div class="col-sm-10">
                        <input type="text" id="iptPcnt" ng-readonly="isReadonly" ng-model="SelectedRuleObject.Precentage"></input>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptComment">Comment: </label>
                    <div class="col-sm-10">
                        <textarea rows="5" id="iptComment" ng-readonly="isReadonly" cols="50"
                                    ng-model="SelectedRuleObject.Comment"></textarea>
			        </div>
		        </div>

                <!-- Button group -->
                <div class="form-group">
                	<div class="col-sm-10">
                    	<button class="btn btn-default btn-primary" ng-click="saveCurrentItem()" ng-hide="isReadonly"
                        		ng-disabled="frmItem.$invalid || !frmItem.$dirty">Save Item</button>
                        <button class="btn btn-danger" ng-click="cancelCurrentItem()">Cancel Item Editing</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
