<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
    <h3 class="modal-title">{{MessageHeader}}</h3>
</div>

<div class="modal-body">
    <div class="panel panel-default">
      <div class="panel-heading">Document wide information</div>
      <div class="panel-body">
        <p>...</p>
      </div>
    
      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">{{DocumentHeader.Currency.name}}</li>
        <li class="list-group-item">{{DocumentHeader.DocumentTranDate}}</li>
      </ul>
    </div>
    
    <form class="form-horizontal" role="form" name="frmItem">
        <div class="form-group">
            <label class="control-label col-sm-2" for="iptItemID">Item ID:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="iptItemID"
                       readonly="readonly" placeholder="ID" ng-model="Item ID">
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2" for="iptType">Account:</label>
            <div class="col-sm-10">
                <ui-select ng-model="FinanceAccount.selected" theme="select2" search-enabled="true" ng-disabled="isReadonly" style="min-width: 300px;">
                    <ui-select-match placeholder="Select an account via the name...">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="acnt in AllAccounts">
                        <div ng-bind-html="acnt.name | highlight: $select.search"></div>
                        <small>
                            ID: {{doctype.id}} <br />
                            Name: <span ng-bind-html="''+acnt.name | highlight: $select.search"></span>
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-hide="isReadonly"
            ng-disabled="frmItem.$invalid || !frmItem.$dirty" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
