<div id="viewFinanceTransactionTypeList">

	<div class="page-header">
		<h2>
			<span translate="Finance.TransactionType">Finance Transaction Type</span> <small translate="Common.ListView"> List View </small>
		</h2>
	</div>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th translate="Common.ID">ID</th>
				<th translate="Common.Name">Name</th>
				<th translate="Finance.ExpenseFlag">Expense Flag</th>
				<th translate="Common.Parent">Parent</th>
				<th translate="Common.Comment">Comment</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in arList">
				<td>{{row.id}}</td>
				<td>{{row.name}}</td>
				<td>{{row.expenseflag}}</td>
				<td>{{row.parent}}</td>
				<td>{{row.comment}}</td>
			</tr>
		</tbody>
	</table>
</div>
