<div id="viewCurrencyList">

	<div class="page-header">
		<h2>
			<span translate="Finance.Currency">Currency</span> <small translate="Common.ListView"> List View </small>
		</h2>
	</div>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th translate="Finance.Currency">Currency</th>
				<th translate="Common.Name">Name</th>
				<th translate="Finance.CurrencySymbol">Symbol</th>
				<th translate="Finance.LocalCurrency">Local Currency</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in arList">
				<td>{{row.Currency}}</td>
				<td>{{row.Name}}</td>
				<td>{{row.Symbol}}</td>
				<td>{{row.IsLocalCurrency}}</td>
			</tr>
		</tbody>
	</table>
</div>
