<div id="viewHome">

	<!-- Navigation area begins -->
<!-- 	<div class="container"> -->
<!-- 		<nav class="navbar navbar-inverse navbar-fixed-top" > -->
<!-- 			<div class="container"> -->
<!-- 				<div class="navbar-header"> -->
<!-- 					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" -->
<!-- 						aria-controls="navbar" ng-click="isCollapsed = !isCollapsed"> -->
<!-- 						<span class="sr-only">Toggle navigation</span>  -->
<!-- 						<span class="icon-bar"></span>  -->
<!-- 						<span class="icon-bar"></span>  -->
<!-- 						<span class="icon-bar"></span> -->
<!-- 					</button> -->
<!-- 					<a class="navbar-brand visible-xs" href="#/home">Home Info . Hub</a> -->
<!-- 				</div> -->
<!-- 				<div id="navbar" class="navbar-collapse collapse"> -->
<!-- 					<ul class="nav navbar-nav"> -->
<!-- 						<li class="dropdown"> -->
<!-- 							<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" -->
<!-- 							aria-expanded="false" dropdown ng-click="isCollapsed = !isCollapsed">Home<span class="caret"></span></a> -->
<!-- 							<ul class="dropdown-menu"> -->
<!-- 								<li><a ui-sref="home.userdetail">User Detail</a></li> -->
<!-- 								<li role="separator" class="divider"></li> -->
<!-- 								<li><a href="" ng-click="logout()">Logout</a></li> -->
<!-- 							</ul></li> -->
<!-- 						<li class="dropdown"><a href="" class="dropdown-toggle" -->
<!-- 							data-toggle="dropdown" role="button" aria-haspopup="true" -->
<!-- 							aria-expanded="false" dropdown>Learning Part<span class="caret"></span></a> -->
<!-- 							<ul class="dropdown-menu"> -->
<!-- 								<li><a ui-sref="home.learn.object.list">Learn Object</a></li> -->
<!-- 								<li><a ui-sref="home.learn.history.list">Learn History</a></li> -->
<!-- 								<li><a ui-sref="home.learn.award.list">Learn Award</a></li> -->
<!-- 							</ul></li> -->
<!-- 						<li class="dropdown"><a href="" class="dropdown-toggle" -->
<!-- 							data-toggle="dropdown" role="button" aria-haspopup="true" -->
<!-- 							aria-expanded="false">Finance Part<span class="caret"></span></a> -->
<!-- 							<ul class="dropdown-menu"> -->
<!-- 								<li><a href="#/financeaccount">Accounts</a></li> -->
<!-- 								<li><a href="#/financedocument">Document</a></li> -->
<!-- 							</ul></li> -->
<!-- 						<li class="dropdown"><a href="" class="dropdown-toggle" -->
<!-- 							data-toggle="dropdown" role="button" aria-haspopup="true" -->
<!-- 							aria-expanded="false">Acknowledges<span class="caret"></span></a> -->
<!-- 							<ul class="dropdown-menu"> -->
<!-- 								<li><a target="_blank" href="https://www.angularjs.org/">Angular JS</a></li> -->
<!-- 								<li><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></li> -->
<!-- 								<li><a target="_blank" href="https://github.com/lorenzofox3/Smart-Table">Smart-Table</a></li> -->
<!-- 								<li><a target="_blank" href="http://www.tinymce.com/">TinyMCE</a></li> -->
<!-- 								<li role="separator" class="divider"></li> -->
<!-- 								<li class="dropdown-header">Angular UI</li> -->
<!-- 								<li><a target="_blank" href="http://angular-ui.github.io/">Angular -->
<!-- 										UI</a></li> -->
<!-- 								<li><a target="_blank" href="http://angular-ui.github.io/bootstrap/">UI Bootstrap</a></li> -->
<!-- 								<li><a target="_blank" -->
<!-- 									href="http://angular-ui.github.io/ui-router/">UI-Router</a></li> -->
<!-- 								<li><a target="_blank" -->
<!-- 									href="https://github.com/angular-ui/ui-tinymce">UI-tinymce</a></li> -->
<!-- 								<li role="separator" class="divider"></li> -->
<!-- 								<li class="dropdown-header">CDNs</li> -->
<!-- 								<li><a target="_blank" href="http://cdn.code.baidu.com/">Baidu -->
<!-- 										CDN</a></li> -->
<!-- 								<li><a href="">One more separated link</a></li> -->
<!-- 							</ul></li> -->
<!-- 						<li><a href="#about">About</a></li> -->
<!-- 					</ul> -->
<!-- 					<ul class="nav navbar-nav navbar-right"> -->
<!-- 						<li class="dropdown"><a href="" class="dropdown-toggle" -->
<!-- 							data-toggle="dropdown" role="button" aria-haspopup="true" -->
<!-- 							aria-expanded="false">Languages<span class="caret"></span></a> -->
<!-- 							<ul class="dropdown-menu"> -->
<!-- 								<li><a href="">English</a></li> -->
<!-- 								<li><a href="">Chinese</a></li> -->
<!-- 							</ul></li> -->
<!-- 						<li class="dropdown"><a href="" class="dropdown-toggle" -->
<!-- 							data-toggle="dropdown" role="button" aria-haspopup="true" -->
<!-- 							aria-expanded="false">Themes<span class="caret"></span></a> -->
<!-- 							<ul class="dropdown-menu"> -->
<!-- 								<li><a href="">Default</a></li> -->
<!-- 								<li><a href="">More to come....</a></li> -->
<!-- 							</ul></li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 				/.nav-collapse -->
<!-- 			</div> -->
<!-- 		</nav> -->
<!-- 	</div> -->
	<header class="navbar navbar-inverse navbar-fixed-top">
	    <div class="navbar-inner">
	        <div class="container">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	<!--                 <a class="navbar-brand visible-xs" href="#/home">H.I.H.</a> -->
	                	<a href="#/home" role="button" class="navbar-brand">
	                        H.I.H.
	                    </a>
	            </div>
	            <nav class="hidden-xs">
	                <ul class="nav navbar-nav">
	                    <li class="dropdown" dropdown>
	                        <a role="button" class="dropdown-toggle" dropdown-toggle><span ng-i18next="Nav.Home">Home</span><b class="caret"></b></a>
	                        <ul class="dropdown-menu">
	                            <li><a ui-sref="home.userdetail"><span ng-i18next="Nav.UserDetail">User Detail</span></a></li>
								<li><a ui-sref="home.userlist"><span ng-i18next="Nav.Users">User List</span></a></li>
	                            <li role="separator" class="divider"></li>
	                            <li><a href="" ng-click="logout()"><span ng-i18next="Login.Logout">Logout</span></a></li>                            
	                        </ul>
	                    </li>
	                    <li class="dropdown" dropdown>
	                        <a role="button" class="dropdown-toggle" dropdown-toggle><span ng-i18next="Nav.LearningTrace">Learning</span><b class="caret"></b></a>
	                        <ul class="dropdown-menu">
								<li class="dropdown-header"><span ng-i18next="Learn.LearningCategory">Learn Category</span></li>
	                            <li><a ui-sref="home.learn.category.list"><span ng-i18next="Common.ListView">List View</span></a></li>
								<li><a ui-sref="home.learn.category.hierarchy"><span ng-i18next="Common.HierarchyView">Hierarchy View</span></a></li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header"><span ng-i18next="Learn.LearningObject">Learn Object</span></li>
	                            <li><a ui-sref="home.learn.object.list"><span ng-i18next="Common.ListView">List View</span></a></li>
	                            <li><a ui-sref="home.learn.object.hierarchy"><span ng-i18next="Common.HierarchyView">Hierarchy View</span></a></li>
	                            <li role="separator" class="divider"></li>
								<li><a ui-sref="home.learn.history.list"><span ng-i18next="Learn.LearningHistory">Learn History</span></a></li>
								<li><a ui-sref="home.learn.award.list"><span ng-i18next="Learn.LearningAward">Learn Award</span></a></li>
	                        </ul>
	                    </li>
	                    <li class="dropdown" dropdown>
	                        <a role="button" class="dropdown-toggle" dropdown-toggle><span ng-i18next="Nav.FinanceTrace">Finance</span><b class="caret"></b></a>
	                        <ul class="dropdown-menu">
								<li><a ui-sref="home.finance.currency.list"><span ng-i18next="Finance.Currency">Currency</span></a></li>
	                            <li><a ui-sref="home.finance.accountcategory.list">Account Category</a></li>
								<li><a ui-sref="home.finance.documenttype.list">Document Type</a></li>
								<li><a ui-sref="home.finance.transactiontype.list">Transaction Type</a></li>								
								<li role="separator" class="divider"></li>
	                            <li><a ui-sref="home.finance.account.list">Account List</a></li>
								<li><a ui-sref="home.finance.document.list">Document List</a></li>
	                        </ul>
	                    </li>
	                    <li class="dropdown" dropdown>
	                        <a role="button" class="dropdown-toggle" dropdown-toggle><span ng-i18next="Nav.Acknowledgements">Acknowledgements</span><b class="caret"></b></a>
	                        <ul class="dropdown-menu">
								<li><a target="_blank" href="https://www.angularjs.org/">Angular JS</a></li>
								<li><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></li>
								<li><a target="_blank" href="https://github.com/lorenzofox3/Smart-Table">Smart-Table</a></li>
								<li><a target="_blank" href="http://www.tinymce.com/">TinyMCE</a></li>
								<li><a target="_blank" href="http://www.tinymce.com/">Select2</a></li>
								<li><a target="_blank" href="http://www.jquery.com/">jQuery</a></li>
								<li><a target="_blank" href="http://i18next.com/">i18next</a></li>
								<li><a target="_blank" href="http://www.jstree.com/">jsTree</a></li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">Angular UI</li>
								<li><a target="_blank" href="http://angular-ui.github.io/">Angular UI</a></li>
								<li><a target="_blank" href="http://angular-ui.github.io/bootstrap/">UI-Bootstrap</a></li>
								<li><a target="_blank" href="http://angular-ui.github.io/ui-router/">UI-Router</a></li>
								<li><a target="_blank" href="https://github.com/angular-ui/ui-tinymce">UI-tinymce</a></li>
								<li><a target="_blank" href="https://github.com/angular-ui/ui-select">UI-Select</a></li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">CDNs</li>
								<li><a target="_blank" href="http://www.bootcdn.cn/">BootCDN</a></li>
								<li><a target="_blank" href="http://cdn.code.baidu.com/">Baidu CDN</a></li>
								<li role="separator" class="divider"></li>
								<li><a target="_blank" href="http://t4t5.github.io/sweetalert/">Sweet Alert</a></li>
								<li><a target="_blank" href="https://github.com/i18next/ng-i18next">ng-i18next</a></li>
								<li><a target="_blank" href="https://github.com/ezraroi/ngJsTree">ngJsTree</a></li>
								<li><a target="_blank" href="https://github.com/thomaspark/bootswatch/">Themes</a></li>
								<li><a target="_blank" href="http://ui-grid.info/">UI-Grid in Angular UI</a></li>
								<li><a target="_blank" href="http://jtblin.github.io/angular-chart.js/">Angular Chart</a></li>
	                        </ul>
	                    </li>
	                    <li><a href="#/about"><span ng-i18next="Nav.About">About</span></a></li>
	                </ul>
	                
	                <ul class="nav navbar-nav navbar-right">
	                    <li class="dropdown" dropdown>
		                	<a role="button" class="dropdown-toggle" dropdown-toggle><span ng-i18next="Common.Language">Languages</span><b class="caret"></b></a>
							<ul class="dropdown-menu">
                                <li><a href="" ng-click="setLanguage('zh')">简体中文</a></li>
								<li><a href="" ng-click="setLanguage('en')">English</a></li>
							</ul>
						</li>
	                    <!--<li class="dropdown" dropdown>
		                	<a role="button" class="dropdown-toggle" dropdown-toggle>Themes<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="">Default</a></li>
								<li><a href="">More to come...</a></li>
							</ul>
						</li>-->
					</ul>	                
	            </nav>
	        </div>
	    </div>
	</header>
	<!-- Navigation area ends -->

	<div class="container" ui-view></div>
</div>
