<div id="viewLearnAward" class="container">
	<div class="page-header">
		<h2>
			Learn Award<small> {{Activity}}</small>
		</h2>
	</div>

	<form class="form-horizontal" role="form" name="frmObj">
		<div class="form-group">
			<label class="control-label col-sm-2" for="iptUser">User:</label>
			<div class="col-sm-10">
				<ui-select ng-model="SelectedUser.selected" theme="select2"  search-enabled="true" ng-disabled="isReadonly" style="min-width: 300px;">
			    	<ui-select-match placeholder="Select an user via the name...">{{$select.selected.text}}</ui-select-match>
			    	<ui-select-choices repeat="usrid in UserIDs">
			      		<div ng-bind-html="usrid.text | highlight: $select.search"></div>
			      		<small>
			      			ID: {{usrid.id}}
			        		Name: <span ng-bind-html="''+usrid.text | highlight: $select.search"></span>
			      		</small>
			    	</ui-select-choices>
				</ui-select>		 	
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="iptDate">Date</label>
			<div class="input-group col-sm-10">
            	<input type="text" class="form-control" datepicker-popup="{{DateFormat}}" ng-model="AwardDate" is-open="isDateOpened"            		
            		datepicker-options="dateOptions" ng-required="true" ng-readonly="isReadonly" close-text="Close" />
              	<span class="input-group-btn">
                	<button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              	</span>
            </div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="iptScore">Score</label>
			<div class="col-sm-10">
				<input type="text" id="iptScore" ng-readonly="isReadonly" ng-model="Score"></input>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" for="iptReason">Reason</label>
			<div class="col-sm-10">
				<textarea rows="5" id="iptReason" ng-readonly="isReadonly" cols="50"
					ng-model="Reason"></textarea>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-default btn-primary" ng-click="submit()" ng-hide="isReadonly"
					ng-disabled="frmObj.$invalid || !frmObj.$dirty">Submit</button>
				<button class="btn btn-danger" ng-click="close()">Cancel</button>
			</div>
		</div>
		
	</form>
</div>
