<div id="viewLearnCategoryHier">

	<div class="page-header">
		<h2>
			<span ng-i18next="Learn.LearningCategory">Learn Category</span> <small ng-i18next="Common.HierarchyView"> Hierarchy View </small>
		</h2>
		<button type="button" class="btn btn-primary" ng-click="newItem()" ng-i18next="Common.Create">New</button>
		<button type="button" class="btn btn-primary" ng-click="refreshHierarchy()" ng-i18next="Common.Refresh">Refresh</button>
	</div>
	
	<div class="panel-body">
		<div js-tree="treeConfig" ng-model="treeData" tree="treeInstance" should-apply="ignoreModelChanges()"></div>
	</div>
</div>
