<div id="viewLearnObjectList">

	<div class="page-header">
		<h2>
            <span translate="Learn.LearningObject">Learn Objects</span> <small translate="Common.ListView"> List View </small>
		</h2>
		<button type="button" class="btn btn-primary" ng-click="newItem()" translate="Common.New">New</button>
		<button type="button" class="btn btn-primary" ng-click="refreshList()" translate="Common.Refresh">Refresh</button>
	</div>

	<div id="grid1" ui-grid="gridOptions"
		style="width: 100%; height: 500px;"></div>
</div>
