<div id="viewLearnHistory">
	<div class="page-header">
		<h2>
			Learn History<small> {{Activity}}</small>
		</h2>
	</div>

	<form class="form-horizontal" role="form" name="frmObj">
		<div class="form-group">
			<label class="control-label col-sm-2" for="iptID">ID:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="iptID"
					readonly="readonly" placeholder="ID" ng-model="ObjectID">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="iptUser">User:</label>
			<div class="col-sm-10">
				<select id="iptUser" ng-model="UserID" ng-disabled="isReadonly"
					ng-options="ctgy.id as ctgy.text for ctgy in CategoryIDs">
					<!-- Example 1:  color.name group by color.shade disable when color.notAnOption for color in colors
      					Example 2: usertype.value as usertype.text for usertype in userTypes 
      				-->
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="iptObject">Learn Objects</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="iptObject" ng-readonly="isReadonly"
					placeholder="Name" ng-model="ObjectName" required>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="iptDate">Date</label>
			<div class="input-group col-sm-10">
              <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="LearnDate" is-open="isDateOpened" datepicker-options="dateOptions" date-disabled="isReadonly" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="iptComment">Comment</label>
			<div class="col-sm-10">
				<textarea rows="5" id="iptComment" ng-readonly="isReadonly"
					ng-model="Comment"></textarea>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-default btn-primary" ng-click="submit()" ng-hide="isReadonly"
					ng-disabled="frmObj.$invalid || !frmObj.$dirty">Submit</button>
				<button class="btn btn-danger" ng-click="close()">Cancel</button>
			</div>
		</div>
	</form>
</div>