	
	<nav class="navbar navbar-inverse navbar-fixed-top">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#/home">Home Info . Hub</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
         	<li class="dropdown">
           	<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home<span class="caret"></span></a>
           	<ul class="dropdown-menu">
           		<li><a href="#/userdetail">User Detail</a></li>
           		<li role="separator" class="divider"></li>
           		<li><a href="" ng-click="logout()">Logout</a></li>
           	</ul>
         	</li>
           <li class="dropdown">
           	<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Learning Part<span class="caret"></span></a>
           	<ul class="dropdown-menu">
           		<li><a href="#/learnobjectlist">Learn Object</a></li>
           		<li><a href="#/learnhistorylist">Learn History</a></li>
           		<li><a href="#/learnawardlist">Learn Award</a></li>
           	</ul>
           </li>
           <li class="dropdown">
           	<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Finance Part<span class="caret"></span></a>
           	<ul class="dropdown-menu">
           		<li><a href="#/financeaccount">Accounts</a></li>
           		<li><a href="#/financedocument">Document</a></li>
           	</ul>
           </li>
           <li><a href="#about">About</a></li>
           <li class="dropdown">
             <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acknowledges<span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><a href="https://www.angularjs.org/">Angular JS</a></li>
               <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
               <li><a href="https://github.com/lorenzofox3/Smart-Table">Smart-Table</a></li>
               <li role="separator" class="divider"></li>
               <li class="dropdown-header">CDNs</li>
               <li><a href="http://cdn.code.baidu.com/">Baidu CDN</a></li>
               <li><a href="">One more separated link</a></li>
             </ul>
           </li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
           <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Languages<span class="caret"></span></a>	            	
             	<ul class="dropdown-menu">
             		<li><a href="">English</a></li>
             		<li><a href="">Chinese</a></li>
             	</ul>
          </li>
           <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Themes<span class="caret"></span></a>	            	
             	<ul class="dropdown-menu">
             		<li><a href="">Default</a></li>
             		<li><a href="">More to come....</a></li>
             	</ul>
           </li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
