<div id="login">	
	<form class="form-register">
        <h2 class="form-register-heading">User Register</h2>
        
        <label for="inputUser" class="sr-only">User name</label>
        <input id="inputUser" class="form-control" placeholder="User name" required autofocus>
        
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
        <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>

        <label for="inputMail" class="sr-only">Mailbox</label>
        <input type="email" id="inputMail" class="form-control" placeholder="Mailbox" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
	</form>
</div>