<div id="viewUserDetail">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th translate="Common.Object">Object</th>
				<th translate="Common.Content">Content</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in displayedCollection">
				<td>{{row.userobj | translate}}</td>
				<td>{{row.usercont}}</td>
			</tr>
		</tbody>
	</table>
	<br />
	
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th translate="Login.SeqNo"></th>
				<th translate="Common.Date"></th>
				<th translate="Common.Type"></th>
				<th translate="Common.Others"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in arUserLogList">
				<td>{{row.SeqNo}}</td>
				<td>{{row.TimePoint | date:'yyyy-MM-dd HH:mm:ss'}}</td>
				<td>{{row.LogTypeString | translate}}</td>
				<td>{{row.Others}}</td>
			</tr>
		</tbody>
	</table>
</div>
