<div id="viewUserDetail">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th translate="Common.Object">Object</th>
				<th translate="Common.Content">Content</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in displayedCollection">
				<td>{{row.userobj}}</td>
				<td>{{row.usercont}}</td>
			</tr>
		</tbody>
	</table>
	<br />
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th translate="Common.Date">Date</th>
				<th>Activity</th>
				<th>Comment</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in arUserLog">
				<td>{{row.Date}}</td>
				<td>{{row.Activity}}</td>
				<td>{{row.Comment}}</td>
			</tr>
		</tbody>
	</table>
</div>
