<div id="viewUserList">
	<div class="page-header">
		<h2>
            <span translate="Nav.Users">Users</span> <small translate="Common.ListView"> List View </small>
		</h2>
	</div>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th translate="Login.User">User</th>
				<th translate="Login.DisplayAs">Display As</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in arList">
				<td>{{row.UserID}}</td>
				<td>{{row.DisplayAs}}</td>
			</tr>
		</tbody>
	</table>
</div>
	