<div id="viewWelcome">
	<div class="jumbotron">
		<h1><span ng-i18next="Mainpage.WelcomeBack">Welcome back</span>, {{CurrentUser.userdisplayas}}!</h1>
		<p>
			This is a home page. <br /> It shall contains some descriptions.<br />
			And it hasn't been done yet.
			<br />
            <br />
			The running version built on: 2015.07.20
		</p>
		<p>
			<a class="btn btn-primary btn-lg" ui-sref="home.userdetail"
				role="button"><span ng-i18next="Nav.TakeALookAtUserDetail">Take a look at User Detail</span></a>
		</p>
	</div>
</div>

