	<div id="login">
		<div style="margin: 50px 0;"></div>
		<div style="min-height: 200px;" align="center">
			<div style="margin: 20px 0;"></div>

			<div class="easyui-panel" title="Login into the system" id="loginPanel" 
				style="width: 70%; padding: 30px 70px 20px 70px">
				<form id="formLogin" class="easyui-form" method="post">
					<table style="width: 70%">
						<tr>
							<td data-i18n="Login.User">User:</td>							
							<td>
								<div style="margin-bottom: 10px">
									<input class="easyui-textbox" name="loginuser"
										style="width: 100%; height: 30px; padding: 12px"
										ng-model="credentials.username"
										data-options="prompt:'User name',iconCls:'icon-man',iconWidth:38, required: true,validType:'length[6,25]'">
								</div>
							</td>
						</tr>
						<tr>
							<td data-i18n="Login.Password">Password:</td>
							<td>
								<div style="margin-bottom: 20px">
									<input class="easyui-textbox" type="password" name="pass"
										style="width: 100%; height: 30px; padding: 12px"
										ng-model="credentials.password"
										data-options="prompt:'Password',iconCls:'icon-lock',iconWidth:38, required: true,validType:'length[6,50]'">
								</div>
							</td>
						</tr>
						<tr>
							<td data-i18n="Common.Language">Language:</td>
							<td>
								<div style="margin-bottom: 20px">
									<select id="langCombo" class="easyui-combobox" name="lang" 
										data-options="onSelect: langComboSelect" style="width:100%;">
									    <option value="en" selected="selected">English</option>
									    <option value="zh">简体中文</option>
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<div align="right">
									<a href="javascript:void(0)" class="easyui-linkbutton" ng-click="register()"
										style="padding: 5px 0px; width: 30%;"> <span
										style="font-size: 14px;" data-i18n="Login.Register">Register</span>
									</a> <a href="javascript:void(0)" class="easyui-linkbutton"
										data-options="iconCls:'icon-ok'" ng-click="login()"
										style="padding: 5px 0px; width: 30%;"> <span
										style="font-size: 14px;" data-i18n="Login.Login">Login</span>
									</a> <a href="javascript:void(0)" class="easyui-linkbutton"
										data-options="iconCls:'icon-cancel'" onclick="clearForm()"
										style="padding: 5px 0px; width: 30%;"> <span
										style="font-size: 14px;" data-i18n="Common.Clear">Clear</span>
									</a>
								</div>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>

	</div>
