<div id="viewFinanceAccount">
	<div class="page-header">
		<h2>
			<span translate="Finance.Accounts">Finance Account</span><small> {{Activity | translate}}</small>
		</h2>
	</div>

    <!-- Messages -->
    <div ng-if="ReportedMessages.length > 0">
        <div class="alert alert-danger" role="alert" ng-repeat="rptmsg in ReportedMessages">
            {{ rptmsg }}
        </div>
    </div>

	<form class="form-horizontal" role="form" name="frmObj">
		<div class="form-group">
			<label class="control-label col-sm-2" for="iptID" translate="Common.ID">ID:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="iptID"
						readonly="readonly" placeholder="{{'Common.ID' | translate}}" ng-model="AccountObject.ID">
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2" translate="Common.Category">Category:</label>
			<div class="col-sm-10">
                <!--<selectize placeholder='Pick category...' options='arFinanceAccountCategory' config="sourceCurrConfig" ng-model="DocumentObject.TranCurrency"
                    ng-disabled="isReadonly" 
                    required></selectize>-->
				<select ng-model="AccountObject.CategoryID" ng-disabled="ActivityID == 3"
					ng-options="fac.ID as fac.Name for fac in arFinanceAccountCategory">
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="iptName" translate="Common.Name">Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="iptName" ng-readonly="ActivityID == 3"
						placeholder="{{'Common.Name' | translate}}" ng-model="AccountObject.Name" required>
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="iptComment" translate="Common.Comment">Comment</label>
			<div class="col-sm-10">
				<input  class="form-control" ng-readonly="ActivityID == 3" id="iptComment"
						ng-model="AccountObject.Comment" />
			</div>
		</div>

		<div class="panel panel-success" >
			<div class="panel-heading">
				<h3 class="panel-title">Downpayment</h3>
			</div>
			
			<div class="panel-body">
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-default btn-primary" ng-click="submit()" ng-hide="ActivityID == 3"
					ng-disabled="frmObj.$invalid || !frmObj.$dirty" translate="Common.Submit">Submit</button>
				<button class="btn btn-danger" ng-click="close()" translate="Common.Cancel">Cancel</button>
			</div>
		</div>
	</form>
</div>
