<div id="viewFinanceReportCC">
	<div class="page-header">
		<h2>
			<span translate="Finance.ControlCenterReport">CC Report</span><small translate="Common.ListView">List View</small>
		</h2>
	</div>

	<form class="form-horizontal" role="form" name="frmObj" style="margin: 30px, 10px;">
		<div class="form-group">
			<label class="control-label col-sm-2" translate="Common.ValidFrom">Valid from</label>
			<div class="col-sm-10">
				<div class="input-group">
					<input type="text" class="form-control" datepicker-popup="{{DateFormat}}" ng-model="ValidFromDate" is-open="isValidfromDateOpened"
							datepicker-options="dateOptions" required close-text="{{'Common.Close' | translate }}" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openValidfromDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-2" translate="Common.ValidTo">Valid to</label>
			<div class="col-sm-10">
				<div class="input-group">
					<input type="text" class="form-control" datepicker-popup="{{DateFormat}}" ng-model="ValidToDate" is-open="isValidtoDateOpened"
							datepicker-options="dateOptions" required close-text="{{'Common.Close' | translate }}" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openValidtoDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-10">
				<button class="btn btn-default btn-primary" ng-click="submit()"
						ng-disabled="frmObj.$invalid || !frmObj.$dirty">Submit</button>
			</div>
		</div>
	</form>
	
	<br>
	<div>Currency: <span class="label label-default">{{ReportCurrency}}</span></div>
	<br>
	
	<table st-table="rptCollection" st-safe-src="dataReport" class="table table-striped table-hover">
		<thead>
			<tr>
				<th st-sort="ccName" translate="Finance.ControlCenter">CC</th>
				<th st-sort="dbamt" translate="Finance.Incoming">Incoming</th>
				<th st-sort="ctamt" translate="Finance.Outgoing">Outing</th>
				<th st-sort="ctamt" translate="Finance.Balance">Balance</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in rptCollection">
				<td>{{row.ControlCenterObject.Name}}</td>
				<td>{{row.TranDebitAmount | currency: '￥'}}</td>
				<td>{{row.TranCreditAmount | currency: '￥'}}</td>
				<td>{{row.TranAmount | currency: '￥'}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="1">
					<cst-count></cst-count>
				</td>
				<td colspan="1">
					<cst-sum columnname="TranDebitAmount"></cst-sum>
				</td>
				<td colspan="1">
					<cst-sum columnname="TranCreditAmount"></cst-sum>
				</td>
				<td colspan="1">
					<cst-sum columnname="TranAmount"></cst-sum>
				</td>
			</tr>
		</tfoot>
	</table>
		 
	<!-- Chart -->
	<br>
	<br>
	
    <div>
		<canvas id="barCC" class="chart chart-bar" chart-options="optionsCC"
 				chart-data="dataCC" chart-labels="labelsCC">
		</canvas> 
	</div>
</div>
