<div id="viewFinanceOrder">
	<div class="page-header">
		<h2>
			<span translate="Finance.Order">Order</span><small> {{Activity | translate}}</small>
		</h2>
	</div>	
	
    <!-- Messages -->
    <div ng-if="ReportedMessages.length > 0">
        <div class="alert alert-danger" role="alert" ng-repeat="rptmsg in ReportedMessages">
            {{ rptmsg  }}
        </div>
    </div>

    <!-- Buttons -->
    <div class="form-group">
    	<div class="col-sm-10">
        	<button class="btn btn-default btn-primary" ng-click="submit()" ng-hide="isReadonly"
            		translate="Common.Submit">Submit</button>
            <button class="btn btn-danger" ng-click="close()" translate="Common.BackToList">Cancel</button>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="showhdr ? 'active' : ''"><a role="button" ng-click="showhdr = true"><span translate="Finance.OrderHeader">Header</span></a></li>
        <li role="presentation" ng-class="showhdr ? '' : 'active'"><a role="button" ng-click="showhdr = false"><span translate="Finance.Rules">Rules</span></a></li>
    </ul>

    <!-- Header -->
    <div class="container" ng-show="showhdr">
        <form class="form-horizontal" role="form" name="frmObj">
            <div class="form-group">
                <label class="control-label col-sm-2" for="iptID" translate="Common.ID">ID:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="iptID"
                           readonly="readonly" placeholder="{{'Common.ID' | translate}}" ng-model="OrderObject.ID">
                </div>
            </div>
            
            <div class="form-group">
			     <label class="control-label col-sm-2" for="iptName" translate="Common.Name">Name</label>
			     <div class="col-sm-10">
				        <input type="text" class="form-control" id="iptName" ng-readonly="isReadonly"
						       placeholder="{{'Common.Name' | translate}}" ng-model="OrderObject.Name" required>
			     </div>
		     </div>

            <div class="form-group">
                <label class="control-label col-sm-2" translate="Common.ValidFrom">Valid from</label>
                 <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{DateFormat}}" ng-model="OrderObject.ValidFrom" is-open="isValidfromDateOpened"
                           datepicker-options="dateOptions" ng-required="true" ng-readonly="isReadonly" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openValidfromDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                 </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-sm-2" translate="Common.ValidTo">Valid to</label>
                 <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{DateFormat}}" ng-model="OrderObject.ValidTo" is-open="isValidtoDateOpened"
                           datepicker-options="dateOptions" ng-required="true" ng-readonly="isReadonly" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openValidtoDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                 </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="iptComment" translate="Common.Comment">Comment</label>
                <div class="col-sm-10">
                    <input id="iptComment" class="form-control" ng-readonly="isReadonly" ng-model="OrderObject.Comment" />
                </div>
            </div>
        </form>
    </div>

    <!-- Rules -->
    <div class="container" ng-show="!showhdr">
        <table st-table="displayedCollection" st-safe-src="RuleObjects" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th st-sort="ruleid" translate="Finance.ItemID">ID</th>
                    <th st-sort="ccid" translate="Finance.ControlCenter">CC ID</th>
                    <th st-sort="ccname" translate="Finance.ControlCenter">CC Name</th>
                    <th st-sort="precent" translate="Common.Precent">Precentage</th>
                    <th st-sort="cmt" translate="Common.Comment">Comment</th>
                    <th translate="Common.Operations">Operations</th>
                </tr>
                <tr>
                    <th colspan="6"><input st-search="serch" class="form-control" placeholder="{{ 'Common.Search' | translate }}" type="text"/></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in RuleObjects">
                    <td>{{row.RuleID}}</td>
                    <td>{{row.ControlCenterID}}</td>
                    <td>{{row.ControlCenterObject.Name}}</td>
                    <td>{{row.Precentage | number}}</td>
                    <td>{{row.Comment}}</td>
                    <td>
                        <button type="button" class="btn btn-sm" ng-click="displayItem(row)" tooltip="{{'Common.Display' | translate}}">
                            <i class="glyphicon glyphicon-share">
                            </i>
                        </button>
                        <button type="button" class="btn btn-sm" ng-click="editItem(row)" tooltip="{{'Common.Edit' | translate}}">
                            <i class="glyphicon glyphicon-edit">
                            </i>
                        </button>
                        <button type="button" class="btn btn-sm btn-danger" ng-click="removeItem(row)" tooltip="{{'Common.Delete' | translate}}">
                            <i class="glyphicon glyphicon-remove-circle">
                            </i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <cst-count></cst-count>
                    </td>
                    <td colspan="3">
                        <cst-sum columnname="Precentage"></cst-sum>
                    </td>
                </tr>
            </tfoot>
        </table>

        <!-- Item Detail -->
        <div class="panel panel-default" style="margin: 30px, 10px;">
            <div class="panel-heading">{{ItemActivity | translate}}</div>
            <div class="panel-body">
            <form class="form-horizontal" role="form" name="frmItem">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptRuleID">Rule ID:</label>
                    <div class="col-sm-10">
      					<p class="form-control-static" id="iptRuleID">{{SelectedRuleObject.RuleID}}</p>
    				</div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" translate="Finance.ControlCenter">Control Center:</label>
                    <div class="col-sm-10">
                        <selectize  
		  		      		options='AllCostCenter' 
                            config="ccConfig" ng-model="SelectedRuleObject.ControlCenterID"
                            ng-disabled="isReadonly"></selectize>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptPcnt" translate="Common.Precent">Precentage:</label>
                    <div class="col-sm-10">
                        <input type="number" id="iptPcnt" min="0.0" max="100.0" string-to-float ng-readonly="isReadonly" 
                            ng-model="SelectedRuleObject.Precentage" required></input>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptRuleComment">Comment: </label>
                    <div class="col-sm-10">
                        <input id="iptRuleComment" ng-readonly="isReadonly" class="form-control" 
                               ng-model="SelectedRuleObject.Comment"></input>
			        </div>
		        </div>

                <!-- Button group -->
                <div class="form-group">
                	<div class="col-sm-10">
                    	<button class="btn btn-default btn-primary" ng-click="saveCurrentItem()" ng-hide="isReadonly"
                        		ng-disabled="frmItem.$invalid || !frmItem.$dirty" translate="Finance.SaveCurrentRule">Save Item</button>
                        <button class="btn btn-danger" ng-click="cancelCurrentItem()" ng-hide="isReadonly" translate="Finance.CancelRuleEditing">Cancel Item Editing</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
