<div id="viewFinanceCC">
	<div class="page-header">
		<h2>
			<span translate="Finance.ControlCenter">Control Center</span><small> {{Activity | translate}}</small>
		</h2>
	</div>	
	
    <!-- Messages -->
    <div ng-if="ReportedMessages.length > 0">
        <div class="alert alert-danger" role="alert" ng-repeat="rptmsg in ReportedMessages">
            {{ rptmsg }}
        </div>
    </div>
	
	<form class="form-horizontal" role="form" name="frmObj">
		<div class="form-group">
			<label class="control-label col-sm-2" for="iptID" translate="Common.ID">ID:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="iptID"
						readonly="readonly" placeholder="{{'Common.ID' | translate}}" ng-model="ControlCenterObject.ID">
			</div>
		</div>
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="iptName" translate="Common.Name">Name</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="iptName" ng-readonly="isReadonly"
						placeholder="{{'Common.Name' | translate}}" ng-model="ControlCenterObject.Name" required>
			</div>
		</div>
		
	    <div class="form-group">
        	<label class="control-label col-sm-2" translate="Common.Parent">Parent</label>
            <div class="col-sm-10">
                <selectize  
						options='arFinanceControlCenter' 
                        config="ccConfig" ng-model="ControlCenterObject.ParentID"
                        ng-disabled="isReadonly"></selectize>
             </div>
         </div>
		
		<div class="form-group">
			<label class="control-label col-sm-2" for="iptComment" translate="Common.Comment">Comment</label>
			<div class="col-sm-10">
				<input ng-readonly="isReadonly" id="iptComment" class="form-control"  placeholder="{{'Common.Comment' | translate}}"
						ng-model="ControlCenterObject.Comment" />
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-default btn-primary" ng-click="submit()" ng-hide="isReadonly"
					ng-disabled="frmObj.$invalid || !frmObj.$dirty" translate="Common.Submit">Submit</button>
				<button class="btn btn-danger" ng-click="close()" translate="Common.BackToList">Cancel</button>
			</div>
		</div>
	</form>
</div>
