<div id="viewFinanceDocument">
	<div class="page-header">
		<h2>
			<span translate="Finance.Document">Finance Document</span><small> {{Activity | translate}}</small>
		</h2>
	</div>

    <!-- Messages -->
    <div ng-if="ReportedMessages.length > 0">
        <div class="alert alert-danger" role="alert" ng-repeat="rptmsg in ReportedMessages">
            {{ rptmsg  }}
        </div>
    </div>
    
    <!-- Buttons -->
    <div class="form-group">
    	<div class="col-sm-10">
        	<button class="btn btn-default btn-primary" ng-click="submit()" ng-hide="isReadonly" translate="Common.Submit">Submit</button>
            <button class="btn btn-danger" ng-click="close()" translate="Common.Cancel">Cancel</button>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="showhdr ? 'active' : ''"><a role="button" ng-click="showhdr = true"><span translate="Finance.DocumentHeader">Header</span></a></li>
        <li role="presentation" ng-class="showhdr ? '' : 'active'"><a role="button" ng-click="showhdr = false"><span translate="Finance.DocumentItem">Items</span></a></li>
    </ul>

    <!-- Header -->
    <div class="container" ng-show="showhdr">
        <form class="form-horizontal" role="form" name="frmObj" style="margin: 30px, 10px;">
            <div class="form-group">
                <label class="control-label col-sm-2" for="iptDocID" translate="Common.ID">ID:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="iptDocID"
                           readonly="readonly" placeholder="{{'Common.ID' | translate }}" ng-model="DocumentObject.DocID">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" translate="Finance.DocumentType">Doc. Type:</label>
                <div class="col-sm-10">
                    <selectize placeholder='Pick document type...' options='arFinanceDocumentType' config="docTypeConfig" ng-model="DocumentObject.DocTypeID"
                        ng-disabled="isReadonly" required></selectize>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" translate="Finance.Currency">Currency:</label>
                <div class="col-sm-10">
                    <selectize placeholder='Pick currency...' options='arCurrency' config="currConfig" ng-model="DocumentObject.TranCurrency"
                        ng-disabled="isReadonly" required></selectize>
                </div>
            </div>
            
            <div class="form-group animate-show" data-ng-hide="TranCurrencyIsLocal">
                <label class="control-label col-sm-2" for="iptExgRate" translate="Finance.ExchangeRate">Exg. rate</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" ng-readonly="isReadonly" id="iptExgRate" required class="form-control"
                                ng-model="DocumentObject.ExchangeRate"></input>
                        <span class="input-group-addon">
                            <input type="checkbox" ng-disabled="isReadonly" ng-model="DocumentObject.ProposedExchangeRate">
                        </span>		
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" translate="Common.Date">Date</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{DateFormat}}" ng-model="DocumentObject.TranDate" is-open="isDateOpened"
                                datepicker-options="dateOptions" ng-required="true" ng-readonly="isReadonly" close-text="{{'Common.Close' | translate }}" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="!isReadonly">
                <label class="control-label col-sm-2" for="iptDocAmount" translate="Finance.Amount">Amount</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="iptDocAmount" readonly
                           placeholder="{{'Finance.Amount' | translate}}" ng-model="DocumentObject.TranAmount" required>
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-sm-2" for="iptDocDesp" translate="Common.Description">Desp</label>
                <div class="col-sm-10">
                    <input type="text" id="iptDocDesp" class="form-control" 
                            ng-readonly="isReadonly" ng-model="DocumentObject.Desp">
                </div>
            </div>
        </form>
    </div>

    <!-- Items -->
    <div class="container" ng-show="!showhdr">
    	<div id="gridFinDocItems" ui-grid="gridOptions" ui-grid-resize-columns
		 	 style="width: 100%; height: 500px;"></div>

        <!-- Item Detail -->
        <div class="panel panel-default" style="margin: 30px, 10px;">
            <div class="panel-heading">{{ItemActivity | translate}}</div>
            
            <div class="panel-body">
            <form class="form-horizontal" role="form" name="frmItem">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptItemID" translate="Finance.ItemID">Item ID:</label>
                    <div class="col-sm-10">
      					<p class="form-control-static" id="iptItemID">{{SelectedDocumentItem.ItemID}}</p>
    				</div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" translate="Finance.Account">Account:</label>
                    <div class="col-sm-10">
                        <selectize placeholder='Pick account...' options='arFinanceAccount' config="accountConfig" ng-model="SelectedDocumentItem.AccountID"
                                   ng-disabled="isReadonly" required="required"></selectize>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" translate="Finance.TransactionType">Transaction Type:</label>
                    <div class="col-sm-10">
                        <selectize placeholder='Pick tran type...' options='arFinanceTransactionType' config="trantypeConfig" ng-model="SelectedDocumentItem.TranTypeID"
                                   ng-disabled="isReadonly" required="required"></selectize>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptItemAmt" translate="Finance.Amount">Amount:</label>
                    <div class="col-sm-10">
                        <input type="text" id="iptItemAmt" ng-readonly="isReadonly" ng-model="SelectedDocumentItem.TranAmount_Org" required="required"></input>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="iptItemDesp" translate="Common.Description">Desp: </label>
                    <div class="col-sm-10">
                        <input type="text" id="iptItemDesp" ng-readonly="isReadonly" ng-model="SelectedDocumentItem.Desp" required="required"></input>
			        </div>
		        </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" translate="Finance.ControlCenter">Control Center</label>
                    <div class="col-sm-10">
                        <selectize placeholder='Pick control center...' options='arFinanceControlCenter' config="ccConfig" ng-model="SelectedDocumentItem.ControlCenterID"
                                ng-disabled="isReadonly" optional></selectize>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" translate="Finance.Order">Order:</label>
                    <div class="col-sm-10">
                        <selectize placeholder='Pick order ...' options='arFinanceOrder' config="orderConfig" ng-model="SelectedDocumentItem.OrderID"
                                 ng-disabled="isReadonly" optional></selectize>
                    </div>
                </div>

                <!-- Button group -->
                <div class="form-group">
                	<div class="col-sm-10">
                    	<button class="btn btn-default btn-primary" ng-click="saveCurrentItem()" ng-hide="isReadonly"
                            translate="Finance.SaveCurrentItem">Save Item</button>
                        		<!--ng-disabled="frmItem.$invalid || !frmItem.$dirty" -->                                
                        <button class="btn btn-danger" ng-click="cancelCurrentItem()" translate="Finance.CancelItemEditing">Cancel Item Editing</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

